        <li><a href="{{app.request.getBaseUrl()}}/panel/listado/entregas"><i class="fa fa-circle-o text-green"></i> <span>Recogidas y entregas</span></a></li>
        <li><a href="{{app.request.getBaseUrl()}}/panel/calendario"><i class="fa fa-circle-o text-yellow"></i> <span>Calendario</span></a></li>
        <li><a href="{{app.request.getBaseUrl()}}/panel/reservas/alta"><i class="fa fa-circle-o text-aqua"></i> <span>Agregar Reserva</span></a></li>
