<canvas id="alquileresChart" style="height: 180px;"></canvas>
    <script src="{{app.request.getBasePath()}}/assets/chartjs/Chart.min.js"></script>
{{dump(datos)}}
<script>

//-----------------------
//- MONTHLY SALES CHART -
//-----------------------

// Get context with jQuery - using jQuery's .get() method.
        var salesChartCanvas = $("#alquileresChart").get(0).getContext("2d");
// This will get the first returned node in the jQuery collection.
        var salesChart = new Chart(salesChartCanvas);

        var salesChartData = {
            labels: [
                {{dump(datos)}}
                {%for fecha, dato in datos %}
                                "{{fechaa}}",
                {% endfor %}
                ],
            datasets: [
                {
                    label: "Standard",
                    fillColor: "rgb(210, 214, 222)",
                    strokeColor: "rgb(210, 214, 222)",
                    pointColor: "rgb(210, 214, 222)",
                    pointStrokeColor: "#c1c7d1",
                    pointHighlightFill: "#fff",
                    pointHighlightStroke: "rgb(220,220,220)",
                    data: [
                {%for fecha, dato in datos %}
                                {{dato.RG01|default("0")}},
                {% endfor %}
                    ]
                },
                {
                    label: "Bluethoot",
                    fillColor: "rgb(66, 255, 188)",
                    strokeColor: "rgb(210, 214, 222)",
                    pointColor: "rgb(210, 214, 222)",
                    pointStrokeColor: "#c1c7d1",
                    pointHighlightFill: "#fff",
                    pointHighlightStroke: "rgb(220,220,220)",
                    data: [
                {%for fecha, dato in datos %}
                    {{dump(dato)}}
                                {{dato.SAU|default("0")}},
                {% endfor %}
                    ]
                }
                
            ]
        };
    $(function () {

        var salesChartOptions = {
//Boolean - If we should show the scale at all
            showScale: true,
//Boolean - Whether grid lines are shown across the chart
            scaleShowGridLines: false,
//String - Colour of the grid lines
            scaleGridLineColor: "rgba(0,0,0,.05)",
//Number - Width of the grid lines
            scaleGridLineWidth: 1,
//Boolean - Whether to show horizontal lines (except X axis)
            scaleShowHorizontalLines: true,
//Boolean - Whether to show vertical lines (except Y axis)
            scaleShowVerticalLines: true,
//Boolean - Whether the line is curved between points
            bezierCurve: true,
//Number - Tension of the bezier curve between points
            bezierCurveTension: 0.3,
//Boolean - Whether to show a dot for each point
            pointDot: false,
//Number - Radius of each point dot in pixels
            pointDotRadius: 4,
//Number - Pixel width of point dot stroke
            pointDotStrokeWidth: 1,
//Number - amount extra to add to the radius to cater for hit detection outside the drawn point
            pointHitDetectionRadius: 20,
//Boolean - Whether to show a stroke for datasets
            datasetStroke: true,
//Number - Pixel width of dataset stroke
            datasetStrokeWidth: 2,
//Boolean - Whether to fill the dataset with a color
            datasetFill: false,
//Boolean - whether to maintain the starting aspect ratio or not when responsive, if set to false, will take up entire container
            maintainAspectRatio: true,
//Boolean - whether to make the chart responsive to window resizing
            responsive: true,
            
            legendTemplate: "<ul class=\"<%=name.toLowerCase()%>-legend\"><% for (var i=0; i<datasets.length; i++){ %><li><span style=\"background-color:<%=datasets[i].lineColor%>\"></span><%if(datasets[i].label){ %><%=datasets[i].label%><%}%></li><%}%></ul>",
        };

//Create the line chart
        salesChart.Line(salesChartData, salesChartOptions);

//---------------------------
//- END MONTHLY SALES CHART -
//---------------------------
    });

</script>

