{% if direccion is not null%}
    {{direccion}}<br>
    {{direccion.direccion}}<br>
    {{direccion.municipio}} {{direccion.provincia}}<br>
    {{direccion.cp}} {{direccion.pais}}<br>
{% else %}
    Sin definir
{% endif %}                                    
