<ul class="sidebar-menu tree">
    <li>
        <a href="{{ path("panel_inicio") }}" class="tablon">
            <span>Tablón</span>
        </a>
    </li>
    <li><a href="{{ path("reserva_new") }}" class="nueva"><span>Nueva Reserva</span></a></li>
    <li><a href="{{app.request.getBaseUrl()}}/panel/movimientos/pendientes" class="movimientos"><span>Entregas & Recogidas</span></a></li>
        {#    <li><a href="{{app.request.getBaseUrl()}}/panel/calendario" class="calendario"><span>Calendario</span></a></li>#}
    <li class="last treeview">
        <a href="#"  class="reservas"><span>Reservas</span><i class="fa pull-right fa-angle-left"></i></a>
        <ul class="active treeview-menu menu_level_1">
            <li class="first">
                <a href="{{ path("reservas_completas") }}"><i class="fa fa-archive"></i>Reservas Finalizadas</a>
            </li>
            {% if is_granted("ROLE_RG_OPERADOR") %}
                <li class="">
                    <a href="{{ path("reservas_activas") }}"><i class="fa fa-cog fa-spin fa-fw"></i>Reservas Activas</a>
                </li>
                <li class="">
                    <a href="{{ path("reservas_largaduracion") }}"><i class="fa fa-fast-forward"></i>Larga duración</a>
                </li>
                <li class="">
                    <a href="{{ path("reservas_pendientes") }}"><i class="fa fa-clock-o"></i>Presupuestos</a>
                </li>
            {% endif %}
            <li class="">
                <a href="{{ path("reservas_canceladas") }}"><i class="fa fa-times"></i>Canceladas</a>
            </li>
            <li class="last">
                <a href="{{ path("reservas") }}"><i class="fa fa-list"></i>Todas las reservas</a>
            </li>
        </ul>
    </li>
    {% if is_granted("ROLE_RG_FINANCIERO") %}
        <li class="last treeview">
            <a href="#" class="facturacion"><span>Facturación</span></a>
            <ul class="active treeview-menu menu_level_1">

                <li class="first">
                    <a href="{{ path("financiero") }}"><i class="fa fa-dashboard fa-fw"></i>Resumen</a>
                </li>
                <li class="">
                    <a href="{{ path("facturacion_new") }}"><i class="fa fa-cog fa-spin fa-fw"></i>Nueva factura</a>
                </li>
                <li class="">
                    <a href="{{ path("costes_new") }}"><i class="fa fa-cog fa-spin fa-fw"></i>Nuevo Coste</a>
                </li>
                <li class="">
                    <a href="{{ path("facturacion_index") }}"><i class="fa fa-list"></i>Facturas</a>
                </li>
                <li class="last">
                    <a href="{{ path("costes_listado") }}"><i class="fa fa-list"></i>Costes</a>
                </li>



            </ul>

        </li>
    {% endif %}

</ul>

{% if is_granted('ROLE_RG_ADMIN') %}
    {% include '@Admin/Modulos/menu.twig' %}
{% endif %}