<table class="table table-condensed dataTable">
    <thead>
        <tr>
            <th style="width: 30px">ID</th>
            {% if tipo == 'recogida' %}
            <th>Recogida</th>
            <th class="hidden-xs">Fin</th>
            {% elseif tipo == 'entrega' %}
            <th>Entrega</th>
            <th class="hidden-xs">Inicio</th>            
            {% endif %}
{#            <th>Cliente</th>#}
            <th>Ubicación</th>
            <th>Ciudad</th>
            <th style="text-align:center">Uds.</th>
            <th style="text-align:center">Mod.</th>
            <th style="min-width: 100px;">Referencia</th>
            <th style="text-align:center">D</th>            
            <th style="text-align:center">Estado</th>
        </tr>
    </thead>
    <tbody>
        {% for movimiento in movimientos %}
                <tr>
                    <td><a href="{{ path("reserva_show",{'reserva':movimiento.reserva.id}) }}" style="color:{{movimiento.estado.color | default("")}};">{{movimiento.reserva.id}}</a></td>
                    <td data-order="{{movimiento.fecha.timestamp}}"><b>{{movimiento.fecha.format("d-m")}}</b><br/>{{movimiento.fecha.format("H:i")}}</td>
                    {% if tipo == 'recogida' %}
                        <td data-order="{{movimiento.reserva.fechaFin.timestamp}}" class="hidden-xs">{{movimiento.reserva.fechaFin.format("d-m")}}<br />{{movimiento.reserva.fechaFin.format("H:i")}}</td>
                    {% elseif tipo == 'entrega' %}
                    <td data-order="{{movimiento.reserva.fechaInicio.timestamp}}" class="hidden-xs">{{movimiento.reserva.fechaInicio.format("d-m")}}<br />{{movimiento.reserva.fechaInicio.format("H:i")}}</td>
                    {% endif %}
{#                    <td>{{movimiento.reserva.empresa}}</td>#}
                    <td>{{movimiento.direccion.nombre | default(reserva.entregaDireccion.direccion | default(""))}}</td>
                    <td>{{movimiento.direccion.municipio | default("") }}</td>
                    <td style="text-align:center">{{movimiento.reserva.cantidadReceptores | default("0")}}</td>
                    <td style="text-align:center">{{movimiento.reserva.modelo | default("n/a")}}</td>
                    <td class="hidden-xs">{{movimiento.reserva.circuito | default("n/a")}}</td>
                    <td style="text-align:center" data-order="{{movimiento.restoDias}}"><span class="badge" style="background-color:{{movimiento.estado.color | default("")}}">{{movimiento.restoDias}}</span></td>                                        
                    {% if movimiento.estado.nombre == 'EN PREPARACION'  %}

                        <td style="text-align:center"><span class="badge estado" style="color:{{movimiento.estado.color | default("")}}; border-color: {{movimiento.estado.color | default("")}};" data-toggle="" title="En Preparación">{{"EP" | default("")}}</span></td>
                    {% elseif  movimiento.estado.nombre == 'SIN RECOGER'  %}
                        <td style="text-align:center"><span class="badge estado" style="color:{{movimiento.estado.color | default("")}}; border-color: {{movimiento.estado.color | default("")}};" data-toggle="" title="SIN RECOGER">{{"SR"| default("")}}</span></td>
                    {% elseif movimiento.estado.nombre == 'PREPARADO' %}
                        <td style="text-align:center"><span class="badge estado" style="color:{{movimiento.estado.color | default("")}}; border-color: {{movimiento.estado.color | default("")}};" data-toggle="" title="Reparado">{{"R"| default("")}}</span></td>
                    {% elseif movimiento.estado.nombre == 'ENVIADO' %}
                        <td style="text-align:center"><span class="badge estado" style="color:{{movimiento.estado.color | default("")}}; border-color: {{movimiento.estado.color | default("")}};" data-toggle="" title="Enviado">{{"E"| default("")}}</span></td>   
                    {% elseif movimiento.estado.nombre == 'INCIDENCIA' %}
                        <td style="text-align:center"><span class="badge estado" style="color:{{movimiento.estado.color | default("")}}; border-color: {{movimiento.estado.color | default("")}};" data-toggle="" title="Incidencia">{{"I"| default("")}}</span></td>   
                    {% elseif movimiento.estado.nombre == 'FINALIZADO' %}
                           <td style="text-align:center"><span class="badge estado" style="color:{{movimiento.estado.color | default("")}}; border-color: {{movimiento.estado.color | default("")}};" data-toggle="" title="Finalizado">{{"F"| default("")}}</span></td>   
                    {% endif %} 
                    
                </tr>
        {% endfor %}
    </tbody>
</table>
