<div class="dropdown-menu multi-column dropdown-add">
    <div class="container-fluid">
        <div class="row">

            <ul class="dropdown-menu">
                <li role="presentation">
                    <a role="menuitem" tabindex="-1" href="/panel/pdf" target="_blank">Panel</a>
                </li>
                <li role="presentation">
                    <a role="menuitem" tabindex="-1" href="/panel/movimientos/pendientespdf" target="_blank">Recogidas y entregas</a>
                </li>
            </ul>
        </div>
    </div>

</div>
