{% if filtro is defined and filtro is not null %}
<form action="" />
<table class="table table-condensed">
    <tr>
        <td>Filtros:</td>
        <td><input type="date" name="inicio" value="{{filtro.valores.inicio | default("01-01-2017")}}"/></td>
        <td><input type="date" name="fin" value="{{filtro.valores.fin | default("31-12-2017")}}"/></td>
            <td><select name="estado">
                <option value="">Estado - Todos</option>
                {% for estado in filtro.opciones.estados %}
                    <option value="{{estado.id}}" {% if filtro.valores.estado == estado %}selected="selected"{% endif %}>{{estado}}</option>
                {% endfor %}
            </select></td>
            <td><select name="cliente" class="select2">
                <option value="">Cliente - Todos</option>
                {% for cliente in filtro.opciones.clientes %}
                    <option value="{{cliente.id}}" {% if filtro.valores.cliente == cliente.id %}selected="selected"{% endif %}>{{cliente}}</option>
                {% endfor %}
            </select></td>
            <td><select name="modelo">
                <option value="">Modelo - Todos</option>
                <option value="RG01" {% if filtro.valores.modelo == "RG01" %}selected="selected"{% endif %}>RG01</option>
                <option value="SAU" {% if filtro.valores.modelo == "SAU" %}selected="selected"{% endif %}>SAU</option>
            </select></td>
        <td><input type="checkbox" name="lduracion"{% if filtro.valores.lduracion == 'on' %}checked="checked"{% endif %}/>Larga Duración</td>
        <td><input type="submit" class="boton" value="Filtrar" />
    </tr>
</table>
</form>
{% endif %}

<table id="tb_reservas" class="table table-condensed dataTable">
    <thead>
        <tr>
            <th style="width: 30px">ID</th>
            <th>Inicio</th>
            <th>Fin</th>
            <th class="hidden-xs">D.</th>
            <th>Cliente</th>
            <th class="hidden-xs">Referencia</th>
            <th style="text-align:center">Uds.</th>
            {% if tipo is not defined or tipo != "cliente" %}
                <th style="text-align:center">Modelo</th>
            {% endif %}
            <th style="text-align:center">Estado</th>
            <th style="text-align:center">Entrega</th>
            <th style="text-align:center">Recogida</th>
            <th style="text-align:right">Total</th>
        </tr>
    </thead>
    <tbody>
        {% for reserva in reservas %}
            <tr  style="page-break-inside: avoid;">
                <td><a href="{{ path('reserva_show' ,{'reserva':reserva.id})}}" style="color: {{reserva.estado.color | default("")}};">{{reserva.id}}</a></td>
                <td data-order="{{reserva.fechaInicio.timestamp}}">{{reserva.fechaInicio.format("d-m-y")}}</td>
                <td data-order="{{reserva.fechaFin.timestamp}}">{{reserva.fechaFin.format("d-m-y")}}</td>                
                <td class="hidden-xs">{{reserva.numDias}}</td>
                <td>{{reserva.empresa.nombre | default("")}}</td>
                <td class="hidden-xs">{{reserva.circuito | default("")}}</td>
                <td style="text-align:center">{{reserva.cantidadReceptores | default("0")}}</td>
                {% if tipo is not defined or tipo != "cliente" %}
                <td style="text-align:center">{{reserva.modelo | default("")}}</td>
                {% endif %}
                <td style="text-align:center"><span class="badge estado" style="color: {{reserva.estado.color | default("")}};border-color: {{reserva.estado.color | default("")}};">{{reserva.estado.nombre | default("")}}</span></td>
                <td style="text-align:center"><span class="badge estado" style="color: {{reserva.entrega.estado.color | default("red")}};border-color: {{reserva.entrega.estado.color | default("red")}};">{% if tipo is not defined or tipo != "cliente" %}{{reserva.entrega.fecha.format("d-m H:i") | default("s/a")}}{% else %}{{reserva.entrega.fecha.format("d-m") | default("s/a")}}{% endif %}</span></td>
                <td style="text-align:center"><span class="badge estado" style="color: {{reserva.recogida.estado.color | default("red")}};border-color: {{reserva.recogida.estado.color | default("red")}};">{% if tipo is not defined or tipo != "cliente" %}{{reserva.recogida.fecha.format("d-m H:i") | default("s/a")}}{% else %}{{reserva.recogida.fecha.format("d-m") | default("s/a")}}{% endif %}</span></td>                
                <td style="text-align:right" data-order="{{reserva.total}}">{{reserva.total|number_format(2, '.', ',')}} €</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
        

