{% extends 'AppBundle::panel.html.twig' %}

{% block title %}Reserva-Editar{% endblock title %}

{% block breadcrumb %}{% endblock breadcrumb %}

{% block main %}

  {#  {{dump()}}#}
    {#    {{ form_start(form) }}
            {{ form_widget(form) }}
            <input type="submit" value="Create" />
        {{ form_end(form) }}
    #}
    
    {{ form_start(form) }}

        <div class="row">
            <div class="col-md-4">
                <div class="box box-azul box-solid">
                    <div class="box-header">
                         <h3 class="box-title">Reserva</h3>
                                                        
                    </div>
                    <!-- /.box-header -->         
                    <div class="box-body caja"> 
                        {{ form_row(form.fechaInicio) }}
                        {{ form_row(form.fechaFin) }}
                        <div class="form-group">
                            <label class="col-sm-2 control-label required" for="reserva_fechaInicio">Total días:</label>
                            <div class="col-sm-10"><input type="text" id="totaldias" class="form-control" disabled></div>
                        </div>                         
                        {{ form_row(form.empresa) }}
                        {{ form_row(form.circuito) }}
                    </div>
                </div>
            </div>
            <div class="col-md-8 row">

                <div class="col-md-6">
                <div class="box box-marron box-solid">
                    <div class="box-header">
                        <h3 class="box-title">Cantidades</h3>
                        <div class="box-tool pull-right"></div>
                    </div>     
                    <div class="box-body caja">
                        {{ form_row(form.cantidadReceptores) }}
                        {{ form_row(form.cantidadEmisores) }}
                        {{ form_row(form.cantidadReserva) }}
                        {{ form_row(form.modelo) }}
                    </div>

                </div>
                </div>
                <div class="col-md-6">
                <div class="box box-default box-solid">
                    <div class="box-header">
                        <h3 class="box-title">Precios</h3>
                        <div class="box-tool pull-right"></div>
                    </div>     
                    <div class="box-body caja">
                        {{ form_row(form.precio) }}
                        {{ form_row(form.precioTipo) }} <br>
                        {{ form_row(form.precioTransporte) }}
                        {{ form_row(form.precioImpuestos) }}
                    </div>
                </div>
                </div>
            </div>
        </div>
           <div class="row">
                <div class="col-md-12">
                <div class="box box-verde box-solid">
                    <div class="box-header">
                        <h3 class="box-title">Peticion del Cliente</h3>
                        <div class="box-tool pull-right"></div>
                    </div>     
                    <div class="box-body nomargin caja">
                        <div class="tab-pane" id="tab_notas">
                            {{ form_widget(form.peticion,{'attr':{'style':'width:100%; height:100px;'}}) }}
                        </div>                      
                    </div>
                </div>
                </div>
           </div>
            
        

            <div class="row">
            <div class="col-md-6">
                <div class="box box-azul box-solid">
                    <div class="box-header">
                        <h3 class="box-title">entrega</h3>
                        <div class="box-tool pull-right"></div>
                    </div>     
                    <div class="box-body caja">
                        {{ form_row(form.entrega.fecha) }}
                        {{ form_row(form.entrega.direccion) }}
                        {{ form_row(form.entrega.estado) }}
                        
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="box box-marron box-solid">
                    <div class="box-header">
                        <h3 class="box-title">recogida</h3>
                        <div class="box-tool pull-right"></div>
                    </div>     
                    <div class="box-body caja">
                        {{ form_row(form.recogida.fecha) }}
                        {{ form_row(form.recogida.direccion) }}
                        {{ form_row(form.recogida.estado) }}
                        
                    </div>
                </div>
            </div>
            </div>
       
 {# --------Botonera final-------------#}
        
        <input class ="btn btn-info boton" type="submit" value="Guardar" />
        <a href="{{ path("reserva_show",{'reserva':reserva.id}) }}" class="btn btn-info boton"> Volver</a>
{#  ------------------------------------#}
   {{ form_widget(form._token) }}
   {% if form.entrega.tipo is defined %}
    {{ form_widget(form.entrega.tipo) }}
   {% endif %}
   {% if form.entrega.reserva is defined %}   
   {{ form_widget(form.entrega.reserva) }}
   {% endif %}
   {% if form.recogida.tipo is defined %}      
    {{ form_widget(form.recogida.tipo) }}
   {% endif %}
   {% if form.recogida.reserva is defined %}       
   {{ form_widget(form.recogida.reserva) }}
   {% endif %}

   {{ form_end(form._token) }}
   {{ form_end(form) }}
    
{#{{ form_end(form) }}#}</form>
    
{% endblock %}

{% block javascripts %}
    {{parent()}}
        <script src=" {{asset('bundles/app/js/new.js')}} "></script>
{% endblock javascripts %}
