{% extends 'base.html.twig' %}

{% block body %}
    <h1>Reserva list</h1>

    <table>
        <thead>
            <tr>
                <th>Fechainicio</th>
                <th>Fechafin</th>
                <th>Cantidad</th>
                <th>Modelo</th>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for reserva in reservas %}
            <tr>
                <td><a href="{{ path('reserva_show', { 'id': reserva.id }) }}">{{ reserva.fechaInicio }}</a></td>
                <td>{% if reserva.fechaFin %}{{ reserva.fechaFin|date('Y-m-d') }}{% endif %}</td>
                <td>{{ reserva.cantidad }}</td>
                <td>{{ reserva.modelo }}</td>
                <td>{{ reserva.id }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('reserva_show', { 'id': reserva.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('reserva_edit', { 'id': reserva.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('reserva_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
