{% extends 'AppBundle::panel.html.twig' %}

{% block title %}Nueva reserva{% endblock title %}

{% block breadcrumb %}{% endblock breadcrumb %}

{% block main %}
    {{ form_start(form) }}

        <div class="row">
            <div class="col-md-4">
                <div class="box box-azul box-solid">
                    <div class="box-header">
                         <h3 class="box-title">Reserva</h3>
                                                        
                    </div>
                    <!-- /.box-header -->         
                    <div class="box-body caja"> 
                            {{ form_row(form.fechaInicio) }}
                            {{ form_row(form.fechaFin) }}
                            <div class="form-group">
                                <label class="col-sm-2 control-label required" for="totaldias">Total dias.</label>
                                <div class="col-sm-10"><input type="text" id="totaldias"disabled="disabled" class="form-control"></div>
                            </div>
{#                            <div class="form-group">
                                <label class="col-sm-2 control-label required" for="reserva_empresa">Empresa</label>
                                <div class="col-sm-9">{{ form_widget(form.empresa) }}</div>
                                <div class="col-sm-1"><a href="#" onclick="addEmpresa()"><i class="fa fa-plus-circle fa-3x" style="color:green"></i></a></div>
                            </div>
#}                            {{ form_row(form.empresa) }}
                            {{ form_row(form.circuito) }}
                    </div>
                </div>
            </div>
            <div class="col-md-8 row">

                <div class="col-md-6">
                <div class="box box-marron box-solid">
                    <div class="box-header">
                        <h3 class="box-title">Cantidades</h3>
                        <div class="box-tool pull-right"></div>
                    </div>     
                    <div class="box-body caja">
                        {{ form_row(form.cantidadReceptores) }}
                        {{ form_row(form.cantidadEmisores) }}
                            {{ form_row(form.cantidadReserva) }}
                            {{ form_row(form.modelo) }}
                    </div>

                </div>
                </div>
                <div class="col-md-6">
                <div class="box box-default box-solid">
                    <div class="box-header">
                        <h3 class="box-title">Precios</h3>
                        <div class="box-tool pull-right"></div>
                    </div>     
                    <div class="box-body caja">
                        {{ form_row(form.precio) }}
                        {{ form_row(form.precioTipo) }} <br>
                        {{ form_row(form.precioTransporte) }}
                        {{ form_row(form.precioImpuestos) }}
                    </div>
                </div>
                </div>
            </div>
        </div>
           <div class="row">
                <div class="col-md-12">
                <div class="box box-verde box-solid">
                    <div class="box-header">
                        <h3 class="box-title">Peticion del Cliente</h3>
                        <div class="box-tool pull-right"></div>
                    </div>     
                    <div class="box-body nomargin caja">
                        <div class="tab-pane" id="tab_notas">
                            {{ form_widget(form.peticion,{'attr':{'style':'width:100%; height:100px;'}}) }}
                        </div>                      
                    </div>
                </div>
                </div>
           </div>
            
        

            <div class="row">
            <div class="col-md-6">
                <div class="box box-azul box-solid">
                    <div class="box-header">
                        <h3 class="box-title">entrega</h3>
                        <div class="box-tool pull-right"></div>
                    </div>     
                    <div class="box-body caja">
                        {{ form_row(form.entrega) }}
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="box box-marron box-solid">
                    <div class="box-header">
                        <h3 class="box-title">recogida</h3>
                        <div class="box-tool pull-right"></div>
                    </div>     
                    <div class="box-body caja">
                        {{ form_row(form.recogida) }}
                    </div>
                </div>
            </div>
            </div>

       
        <input class ="btn btn-info boton" type="submit" value="Guardar" />
{{ form_end(form) }}

{% endblock %}

{% block javascripts %}
    {{parent()}}
        <script src=" {{asset('bundles/app/js/new.js')}} "></script>
{% endblock javascripts %}
