{% extends 'AppBundle::panel.html.twig' %}

{% block title %}Dashboard{% endblock title %}

{% block breadcrumb %}{% endblock breadcrumb %}

{% block main %}
    {{ form_start(form) }}

        <div class="row">
            <div class="col-md-4">
                <div class="box box-azul box-solid">
                    <div class="box-header">
                         <h3 class="box-title">Reserva</h3>
                                                        
                    </div>
                    <!-- /.box-header -->         
                    <div class="box-body caja"> 
                            {{ form_row(form.fechaInicio) }}
                            {{ form_row(form.fechaFin) }}
                            <div class="form-group">
                                <label class="col-sm-2 control-label required" for="totaldias">Total dias.</label>
                                <div class="col-sm-10"><input type="text" id="totaldias"disabled="disabled" class="form-control"></div>
                            </div>
                            {% if reserva.empresa is not defined %}
                                {{ form_row(form.empresa) }}
                            {% endif %}
                            {{ form_row(form.circuito) }}
                    </div>
                </div>
            </div>
            <div class="col-md-8 row">

                <div class="col-md-6">
                <div class="box box-marron box-solid">
                    <div class="box-header">
                        <h3 class="box-title">Cantidades</h3>
                        <div class="box-tool pull-right"></div>
                    </div>     
                    <div class="box-body caja">
                        {{ form_row(form.cantidadReceptores) }}
                        {{ form_row(form.cantidadEmisores) }}
                        {% if reserva.empresa is not defined %}
                            {{ form_row(form.cantidadReserva) }}
                            {{ form_row(form.modelo) }}
                        {% endif %}
                    </div>

                </div>
                </div>
                <div class="col-md-6">
                    <div class="box box-verde box-solid">
                        <div class="box-header">
                            <h3 class="box-title">Notas de la reserva</h3>    
                            <div class="box-tool pull-right"></div>
                        </div>     
                        <div class="box-body nomargin caja">
                            <div class="tab-pane" id="tab_notas">
                                {{ form_widget(form.peticion,{'attr':{'style':'width:100%; height:100px;'}}) }}
                            </div>                      
                        </div>
                    </div>
                </div>
            </div>
        </div>
           <div class="row">
                <div class="col-md-12">
                
                </div>
           </div>
            
        
                            {% if reserva.empresa is not defined %}

            <div class="row">
            <div class="col-md-6">
                <div class="box box-azul box-solid">
                    <div class="box-header">
                        <h3 class="box-title">entrega</h3>
                        <div class="box-tool pull-right"></div>
                    </div>     
                    <div class="box-body caja">
                        {{ form_row(form.entrega) }}
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="box box-marron box-solid">
                    <div class="box-header">
                        <h3 class="box-title">recogida</h3>
                        <div class="box-tool pull-right"></div>
                    </div>     
                    <div class="box-body caja">
                        {{ form_row(form.recogida) }}
                    </div>
                </div>
            </div>
            </div>
                                                {% endif %}

       
        <input class ="btn btn-info boton" type="submit" value="Guardar" />
{{ form_end(form) }}

{% endblock %}

{% block javascripts %}
    {{parent()}}
    <script src=" {{asset('bundles/app/js/newcliente.js')}} "></script>    
{% endblock javascripts %}
