{% extends 'AppBundle:Default:layout-pdf.html.twig' %}

{%set empresa = reserva.empresa %}

{% block datos %}
              <div class="row-fluid">
                  <div class="col-xs-7" style="font-size:1.2em">
                      <b>Presupuesto Núm:</b><br>
                      <b>Fecha: </b>
                  </div>
                  <div class="col-xs-3" style="text-align: right; font-size:1.2em">
                      P-{{reserva.id}}<br>
                      {{date().format("d/m/Y")}}
                  </div>                      
              </div>
    
{% endblock datos %}

{% block direccion %}
    <img src="{{ absolute_url(asset('imagenes/direccion_A.png')) }}" width="100%"/>
{% endblock direccion %}


{% block pagina %}
        <div class="row pdfpresupuesto">
            <div class="col-md-12">
<table class="table tablepdf">
            <thead>
              <tr>
                <th>Tipo</th>
                <th>Referencia</th>
                <th>Fecha Inicio</th>
                <th>Fecha Fin</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>PRESUPUESTO</td>
                <td>{{reserva.circuito}}</td>
                <td>{{reserva.fechaInicio.format("d-m-Y")}}</td>
                <td>{{reserva.fechaFin.format("d-m-Y")}}</td>
              </tr>
            </tbody>
          </table>
    <table class="table tablepdf">
            <thead>
              <tr>
                <th>Fecha Entrega</th>
                <th>Lugar Entrega</th>
                <th>Fecha Recogida</th>
                <th>Lugar Recogida</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>{{reserva.entrega.fecha.format("d-m-Y") | default("Sin determinar")}}</td>
                <td>{{reserva.entrega.direccion | default("Sin determinar")}}</td>
                <td>{{reserva.recogida.fecha.format("d-m-Y") | default("Sin determinar")}}</td>
                <td>{{reserva.recogida.direccion | default("Sin determinar")}}</td>
              </tr>
            </tbody>
          </table>
              
            </div>

        </div>
        <div class="row pdfpresupuesto">
            <div class="col-md-12">
              <h2>Detalles</h2>
    <table class="table tablepdfdetalles">
            <thead>
              <tr>
                <th>Concepto</th>
                <th style="width:100px;">Unidades</th>
                <th style="width:100px;">Días</th>
                <th style="width:110px;">Precio</th>
                <th style="width:110px;">Subtotal</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>{{reserva.modelo}}</td>
                <td>{{reserva.cantidadReceptores}}</td>
                <td>{{reserva.numDias}}</td>
                <td>{{reserva.precio|number_format(2, '.', ',')}}</td>
                <td>{{(reserva.totalReceptores)|number_format(2, '.', ',')}} €</td>
              </tr>
              <tr>
                <td>Transmitters + micro</td>                  
                <td>{{reserva.cantidadEmisores}}</td>
                <td>{{reserva.numDias}}</td>
                <td>0</td>
                <td>0,00 €</td>
              </tr>
              <tr>
                <td>Receivers Reserva</td>                  
                <td>{{reserva.cantidadReserva}}</td>
                <td>{{reserva.numDias}}</td>
                <td>0</td>
                <td>0,00 €</td>
              </tr>              
              <tr>
                <td>Servicio de Entrega</td>                  
                <td>1</td>
                <td></td>
                <td></td>
                <td>{{reserva.precioTransporte|number_format(2, '.', ',')}}€</td>
              </tr>
              <tr>
                <td></td>                  
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>              
              
            </tbody>
            <tfoot>
                <tr>
                    <th></th>                    
                    <th></th>                  
                    <th>Subtotal</th>
                    {% if reserva.precioImpuestos > 0 %}
                    <th>IVA {{reserva.precioImpuestos}}%</th>
                    {% else %}
                    <th></th>
                    {% endif %}
                    <th>Total</th>
                </tr>
              <tr>
                <td></td>                  
                <td></td>                  
                <td>{{(reserva.totalBruto)|round(2)}} €</td>
                {% if reserva.precioImpuestos > 0 %}
                    <td>{{((reserva.totalBruto/100)*reserva.precioImpuestos)|number_format(2, '.', ',')}} €</td>
                {% else %}
                    <td></td>
                {% endif %}
                <td><b style="color:black">{{reserva.total|number_format(2, '.', ',')}} €</b></td>
              </tr>
                
            </tfoot>
          </table>
          
            </div>
        </div>
    <div class="row pdfpresupuesto" style="margin-top: 20px">
        <div class="col-md-11" style="text-align:right">
            <h3>Datos Bancarios / Bank details</h3>
            <p>
                <b>SWIFT:</b> POPUESMM<br>
                <b>IBAN:</b> ES16-0075-3304-800600051584
            </p>
        </div>
    </div>
                
{% endblock %}

{% block footer %}
    <footer class="footer" style="background-image: url({{absolute_url(asset('imagenes/faldon_A.png'))}});margin-top:5px;">
        {{parent()}}
    </footer>    
{% endblock footer %}
