{% extends 'AppBundle:Default:layout-pdf.html.twig' %}

{%set empresa = reserva.empresa %}

{% block datos %}
              <div class="row-fluid">
                  <div class="col-xs-7" style="font-size:1.2em">
                      <b>Albarán Núm:</b><br>
                      <b>Fecha: </b>
                  </div>
                  <div class="col-xs-3" style="text-align: right; font-size:1.2em">
                      A-{{reserva.id}}<br>
                      {{date().format("d/m/Y")}}
                  </div>                      
              </div>
    
{% endblock datos %}

{% block direccion %}
    <img src="{{ absolute_url(asset('imagenes/direccion_C.png')) }}" width="100%"/>
{% endblock direccion %}


{% block pagina %}
        <div class="row pdfalbaran">
            <div class="col-md-12">
<table class="table tablepdf">
            <thead>
              <tr>
                <th>Tipo</th>
                <th>Referencia</th>
                <th>Fecha Inicio</th>
                <th>Fecha Fin</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>ALBARAN</td>
                <td>{{reserva.circuito}}</td>
                <td>{{reserva.fechaInicio.format("d-m-Y")}}</td>
                <td>{{reserva.fechaFin.format("d-m-Y")}}</td>
              </tr>
            </tbody>
          </table>
    <table class="table tablepdf">
            <thead>
              <tr>
                <th>Fecha Entrega</th>
                <th>Lugar Entrega</th>
                <th>Fecha Recogida</th>
                <th>Lugar Recogida</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>{{reserva.entrega.fecha.format("d-m-Y") | default("Sin determinar")}}</td>
                <td>{{reserva.entrega.direccion | default("Sin determinar")}}</td>
                <td>{{reserva.recogida.fecha.format("d-m-Y") | default("Sin determinar")}}</td>
                <td>{{reserva.recogida.direccion | default("Sin determinar")}}</td>
              </tr>
            </tbody>
          </table>
              
            </div>

        </div>
        <div class="row pdfalbaran">
            <div class="col-md-12">
              <h2>Detalles</h2>
    <table class="table table-responsive tablepdfdetalles">
            <thead>
              <tr>
                <th>Concepto</th>
                <th>Unidades</th>
                <th>Días</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Radioguía {{reserva.modelo}}</td>
                <td>{{reserva.cantidadReceptores}}</td>
                <td>{{reserva.numDias}}</td>
              </tr>
              <tr>
                <td>Transmitters + micro</td>                  
                <td>{{reserva.cantidadEmisores}}</td>
                <td>{{reserva.numDias}}</td>
              </tr>
              <tr>
                <td>Receivers Reserva</td>                  
                <td>{{reserva.cantidadReserva}}</td>
                <td>{{reserva.numDias}}</td>
              </tr>
            </tbody>
          </table>
          
            </div>
        </div>
        <div class="row pdfalbaran">
            <div class="col-xs-6">
            <table class="table tablepdf">
                <thead>
                  <tr>
                    <th style="width:50%">Entrega:</th>
                    <th></th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Nombre y apellidos:</td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>DNI:</td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>Fecha y Hora:</td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>Lugar:</td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>Firma:</td>
                    <td></td>
                    <td></td>
                  </tr>
                </tbody>
            </table>
            </div>
            <div class="col-xs-6">
            <table class="table tablepdf">
                <thead>
                  <tr>
                    <th style="width:50%">Recoge:</th>
                    <th></th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Nombre y apellidos:</td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>DNI:</td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>Fecha y Hora:</td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>Lugar:</td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>Firma:</td>
                    <td></td>
                    <td></td>
                  </tr>
                </tbody>
            </table>
              
            </div>

        </div>
                
{% endblock %}

{% block footer %}
    <footer class="footer" style="background-image: url({{absolute_url(asset('imagenes/faldon_C.png'))}});margin-top:48px;">
        {{parent()}}
    </footer>    
{% endblock footer %}
