{% extends 'AppBundle:Default:layout-pdf.html.twig' %}

{%set empresa = reserva.empresa %}

{% block datos %}
              <div class="row-fluid">
                  <div class="col-xs-6" style="font-size:1.2em">
                      <b>Factura Núm:</b><br>
                      <b>Fecha: </b>
                  </div>
                  <div class="col-xs-3" style="text-align: right; font-size:1.2em">
                      F-{{reserva.id}}<br>
                      {{date().format("d/m/Y")}}
                  </div>                      
              </div>
    
{% endblock datos %}

{% block direccion %}
    <img src="{{ absolute_url(asset('imagenes/direccion_B.png')) }}" width="100%"/>
{% endblock direccion %}


{% block pagina %}
        <div class="row pdffactura">
            <div class="col-md-12">
<table class="table tablepdf">
            <thead>
              <tr>
                <th>Tipo</th>
{#                <th>Fecha Factura</th>
#}                <th>Referencia</th>
                <th>Fecha Inicio</th>
                <th>Fecha Fin</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>FACTURA</td>
{#                <td>{{ "now"|date('d-m-Y')}}</td>
#}                <td>{{reserva.circuito}}</td>
                <td>{{reserva.fechaInicio.format("d-m-Y")}}</td>
                <td>{{reserva.fechaFin.format("d-m-Y")}}</td>
              </tr>
            </tbody>
          </table>
    <table class="table tablepdf">
            <thead>
              <tr>
                <th>Fecha Entrega</th>
                <th>Lugar Entrega</th>
                <th>Fecha Recogida</th>
                <th>Lugar Recogida</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>{{reserva.entrega.fecha.format("d-m-Y") | default("Sin determinar")}}</td>
                <td>{{reserva.entrega.direccion | default("Sin determinar")}}</td>
                <td>{{reserva.recogida.fecha.format("d-m-Y") | default("Sin determinar")}}</td>
                <td>{{reserva.recogida.direccion | default("Sin determinar")}}</td>
              </tr>
            </tbody>
          </table>
              
            </div>

        </div>
        <div class="row pdffactura">
            <div class="col-md-12">
              <h2>Detalles</h2>
    <table class="table tablepdfdetalles">
            <thead>
              <tr>
                <th>Concepto</th>
                <th>Unidades</th>
                <th>Días</th>
                <th>Precio</th>
                <th>Subtotal</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Radioguía {{reserva.modelo}}</td>
                <td>{{reserva.cantidadReceptores}}</td>
                <td>{{reserva.numDias}}</td>
                <td>{{reserva.precio}}</td>
                <td>{{(reserva.totalReceptores)|round(2)}} €</td>
              </tr>
              <tr>
                <td>Transmitters + micro</td>                  
                <td>{{reserva.cantidadEmisores}}</td>
                <td>{{reserva.numDias}}</td>
                <td>0</td>
                <td>0,00 €</td>
              </tr>
              <tr>
                <td>Receivers Reserva</td>                  
                <td>{{reserva.cantidadReserva}}</td>
                <td>{{reserva.numDias}}</td>
                <td>0</td>
                <td>0,00 €</td>
              </tr>              
              <tr>
                <td>Servicio de Entrega</td>                  
                <td>1</td>
                <td></td>
                <td></td>
                <td>{{reserva.precioTransporte}}€</td>
              </tr>
              <tr>
                <td></td>                  
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>              
            </tbody>
          </table>
          
    <table class="table tablepdf textright">
            <thead>
              <tr>
                  <th></th>
                <th colrow="3">Subtotal</th>
                {% if reserva.precioImpuestos > 0 %}
                <th>IVA {{reserva.precioImpuestos}}%</th>
                {% endif %}
                <th>Total</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                  <td></td>
                <td>{{(reserva.totalBruto)|round(2)}} €</td>
                
                {% if reserva.precioImpuestos > 0 %}
                    <td>{{((reserva.totalBruto/100)*reserva.precioImpuestos)|round(2)}} €</td>
                {% endif %}
                <td><b style="color:black">{{reserva.total|round(2)}} €</b></td>
                <td></td>
              </tr>
            </tbody>
    </table>
            </div>
        </div>
{% endblock %}

{% block footer %}
    <footer class="footer" style="background-image: url({{absolute_url(asset('imagenes/faldon_B.png'))}})">
        {{parent()}}
    </footer>    
{% endblock footer %}
