{% extends 'AppBundle::panel.html.twig' %}

{% block title %}Reserva-Detalle{% endblock title %}

{% block breadcrumb %}{% endblock breadcrumb %}

{% block main %}
    {% set difference = date(reserva.fechaFin).diff(date(reserva.fechaInicio)) %}
    {% set leftDays = difference.days %}
    {#{{dump()}}#}
    <form method="POST">
        <div class="row">
            <div class="col-md-6">

                <div class="box box-azul box-solid">
                    <div class="box-header icocalendario">
                        <h3 class="box-title">Fechas</h3>
                        <div class="box-tools pull-right">
                            {# <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>#}
                        </div>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <table class="table table-condensed table-azul">
                            <thead>
                                <tr>
                                    <th>entrega</th>
                                    <th>inicio</th>
                                    <th>finalizacion</th>
                                    <th>recogida</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>{{ reserva.entrega.fecha.format("d-m-Y G:i")|default('') }}</td>
                                    <td>{{ reserva.fechaInicio.format("d-m-Y G:i") }}</td>
                                    <td>{{ reserva.fechaFin.format("d-m-Y G:i") }} </td>
                                    <td>{{ reserva.recogida.fecha.format("d-m-Y G:i")|default('') }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- /.box-body -->
                </div>
                <div class="box box-marron box-solid">
                    <div class="box-header icoubicacion">
                        <h3 class="box-title">Ubicación</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <table class="table table-condensed table-marron">
                            <thead>
                                <tr>
                                    <th>entrega</th>
                                    <th>recogida</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        {% if reserva.entrega is not null and reserva.entrega.direccion is not null %}
                                            <a href="mailto:?subject=Solicitud%20entrega&body=Buenos%20d%C3%ADas%0Asolicitamos%20la%20siguiente%20recogida%0A%0A{{reserva.entrega.direccion.direccion|url_encode()}}%0A{{reserva.entrega.direccion.municipio|url_encode()}}%20{{reserva.entrega.direccion.provincia|url_encode()}}%0A{{reserva.entrega.direccion.cp|url_encode()}}%20{{reserva.entrega.direccion.pais|url_encode()}}%0A{{reserva.entrega.direccion.adicional|url_encode()|default("")}}">
                                                {{reserva.entrega.direccion}}<br>
                                                {{reserva.entrega.direccion.direccion}}<br>
                                                {{reserva.entrega.direccion.municipio}} {{reserva.entrega.direccion.provincia}}<br>
                                                {{reserva.entrega.direccion.cp}} {{reserva.entrega.direccion.pais}}<br>
                                                {#                                        <span style="font-style:italic">{{reserva.entrega.direccion| default("")}}</span>#}
                                            </a>
                                        {% else %}
                                            Sin definir
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if reserva.recogida is not null and reserva.recogida.direccion is not null %}
                                            <a href="mailto:?subject=Solicitud%20recogida&body=Buenos%20d%C3%ADas%0Asolicitamos%20la%20siguiente%20recogida%0A%0A{{reserva.recogida.direccion.direccion|url_encode()}}%0A{{reserva.recogida.direccion.municipio|url_encode()}}%20{{reserva.recogida.direccion.provincia|url_encode()}}%0A{{reserva.recogida.direccion.cp|url_encode()}}%20{{reserva.recogida.direccion.pais|url_encode()}}%0A{{reserva.recogida.direccion.adicional|url_encode()|default("")}}">
                                                {{reserva.recogida.direccion}}<br>
                                                {{reserva.recogida.direccion.direccion}}<br>
                                                {{reserva.recogida.direccion.municipio}} {{reserva.recogida.direccion.provincia}}<br>
                                                {{reserva.recogida.direccion.cp}} {{reserva.recogida.direccion.pais}}<br>
                                                {#                                        <span style="font-style:italic">{{reserva.recogida.direccion| default("")}}</span>#}
                                            </a>
                                        {% else %}
                                            Sin definir
                                        {% endif %}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- /.box-body -->
                </div>
                <div class="box box-default box-solid">
                    <div class="box-header icocliente">
                        <h3 class="box-title">Cliente</h3>
                        <div class="box-tools pull-right">
                            {# <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>#}
                        </div>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <table class="table table-condensed table-marron">
                            <tbody>
                                <tr>
                                    <td>circuito:</td><td> {{ reserva.circuito }}</td>
                                </tr>
                                <tr>
                                    <td> empresa:</td><td> {{ reserva.empresa.nombre  | default("Sin definir") }} </td>
                                </tr>
                                <tr>
                                    <td> contacto:</td><td> {{ reserva.empresa.pContacto  | default("Sin definir") }} </td>
                                </tr>
                                <tr>
                                    <td> telefono:</td><td> {{ reserva.empresa.tlfMovil | default("Sin definir") }} </td>
                                </tr>
                                <tr>
                                    <td> email:</td><td> <a href="mailto:{{ reserva.empresa.emailContacto | default("") }}">{{ reserva.empresa.emailContacto | default("Sin definir") }} </a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="box box-verde box-solid">
                    <div class="box-header icoeconomico">
                        <h3 class="box-title">Económico</h3>
                        <div class="box-tools pull-right">
                            {# <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>#}
                        </div>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <table class="table table-condensed table-verde">
                            <thead>
                                <tr>
                                    <th>ID Reserva</th>
                                    <th>estado</th>
                                    <th>Uds.</th>
                                    <th>subtotal</th>
                                    <th>total</th>
                                    <th>Factura</th>
                                    <th>Est. Fact</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><b>{{ reserva.id }}</b></td>
                                    <td>{{ reserva.estado.nombre | default("N/D") }}</td>
                                    <td>{{ reserva.cantidadReceptores | default("N/D") }}</td>
                                    <td>{{ reserva.totalBruto|number_format(2, '.', ',') | default("N/D") }} €</td>
                                    <td>{{ reserva.total|number_format(2, '.', ',') | default("N/D") }} €</td>
                                    {% if reserva.factura is not null %}
                                        <td><a href="{{ path("factura_print",{'id':reserva.factura.id})}}" target="_blank">{{reserva.factura.fechaEmision.format('Y')}}{{"%03d"|format(reserva.factura.numero)}}</a></td>
                                        <td>{{ reserva.factura.estado.nombre}}</td>
                                    {% else %}
                                        <td colspan="2" style="text-align:center">Pte. Facturar</td>
                                    {% endif %}
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- /.box-body -->
                </div>
                <div class="box box-azul box-solid">
                    <div class="box-header">
                        <h3 class="box-title">Estado</h3>
                        <div class="box-tools pull-right">
                        </div>
                    </div>
                    <div class="box-body caja row">
                        <div class="col-md-4">
                            <label for="sell">Reserva:</label><br />
                            {% if is_granted("ROLE_RG_OPERADOR") %}
                                <select id="estado" class="" name="estado">
                                    {% for estado in estadosReserva %}
                                        <option
                                            {% if estado == reserva.estado %}
                                                selected="selected"
                                            {% endif %}
                                            value="{{estado.id}}">{{estado.nombre}}</option>
                                    {% else %}
                                        <option style="background-color: {{reserva.estado.color}}" selected="selected"
                                                value="{{reserva.estado.id}}">{{reserva.estado.nombre}}</option>
                                    {% endfor %}
                                </select>
                            {% else %}
                                <div class="btn btn-default" style="background-color:{{reserva.estado.color}}">{{reserva.estado.nombre}}</div>
                            {% endif %}

                        </div>
                        <div class="col-md-4">
                            <label for="sell">Entrega:</label><br />
                            {% if is_granted("ROLE_RG_OPERADOR") %}
                                <select id="entregaEstado" name="entregaEstado" class="">
                                    {% for estado in estadosMovimiento %}
                                        <option
                                            {% if estado == reserva.entrega.estado %}
                                                selected="selected"
                                            {% endif %}
                                            value="{{estado.id}}">{{estado.nombre}}</option>
                                    {% endfor %}
                                </select>
                            {% else %}
                                <div class="btn btn-default" style="background-color:{{reserva.entrega.estado.color|default()}}">{{reserva.entrega.estado.nombre|default()}}</div>
                            {% endif %}

                        </div>
                        <div class="col-md-4">
                            <label for="sell">Recogida:</label><br />
                            {% if is_granted("ROLE_RG_OPERADOR") %}
                                <select id="recogidaEstado" name="recogidaEstado" class="">

                                    {% for estado in estadosMovimiento %}
                                        <option
                                            {% if estado == reserva.recogida.estado %}
                                                selected="selected"
                                            {% endif %}
                                            value="{{estado.id}}">{{estado.nombre}}</option>
                                    {% endfor %}

                                </select>
                            {% else %}
                                <div class="btn btn-default" style="background-color:{{reserva.recogida.estado.color|default()}}">{{reserva.recogida.estado.nombre|default()}}</div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="nav">
                    <input type="submit" value="Actualizar" class="btn boton"/>
                    {% if is_granted("ROLE_RG_OPERADOR") and reserva.factura == null %}
                        <a role="menuitem" tabindex="-1" href="{{ path('reserva_edit', {'reserva': reserva.id}) }}" class="btn boton" >Editar</a>
                    {% else %}
                        {% if reserva.fechaInicio > date("+2day") and reserva.factura == null %}
                            <a role="menuitem" tabindex="-1" href="{{ path('reserva_edit', {'reserva': reserva.id}) }}" class="btn boton" >Editar</a>
                        {% endif %}
                    {% endif %}

                    {#                          {% if reserva.estado.nombre == "PRESUPUESTO" %}#}
                    <a class="btn boton" target="_blank" href="{{ path('reserva_pdf_presupuesto', {'id': reserva.id}) }}">Pdf Presupuesto</a>
                    <a class="btn boton"  target="_blank" href="{{ path('reserva_pdf_proforma', {'id': reserva.id}) }}">Pdf Proforma</a>
                    {#                          {% endif %}#}

                    <a class="btn boton"  target="_blank" href="{{ path('reserva_pdf_albaran', {'id': reserva.id}) }}">Pdf Albarán</a>
                    {% if is_granted("ROLE_RG_FINANCIERO") %}
                        <a class="btn boton"  target="_blank" href="{{ path('reserva_pdf_recibo', {'id': reserva.id}) }}">Pdf Recibo</a>
                        {%if reserva.factura is null %}
                            {% if reserva.estado.nombre != "PRESUPUESTO" and reserva.estado.nombre != "CANCELADA" %}
                                <a class="btn boton"  href="{{ path('facturacion_new_simple', {'idcliente':reserva.empresa.id, 'idreserva': reserva.id}) }}">Generar Factura</a>
                            {% endif %}
                            <a id="borrarReserva" class="btn boton" href="{{ path('reserva_delete', {'id': reserva.id}) }}">Borrar</a>
                        {% else %}
                            <a class="btn boton" target="_blank" href="{{ path('factura_print', {'id': reserva.factura.id}) }}">Imprimir Factura</a>
                        {% endif %}
                    {% endif %}

                </div>

            </div>

            <div class="col-md-6">
                <div class="box box-azul box-solid">
                    <div class="box-header">
                        <h3 class="box-title">Petición Cliente</h3>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                        </div>
                    </div>
                    <div class="box-body caja" id="tab_peticion">
                        {% autoescape false %}{{reserva.peticion|nl2br|default("")}}{% endautoescape %}
                    </div>
                </div>

                <div class="box box-azul box-solid">
                    <div class="box-header">
                        <h3 class="box-title">Notas</h3>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                        </div>
                    </div>
                    <div class="box-body caja" id="tab_notas">
                        <textarea name="notas" style="width:100%; height:200px;">{{reserva.notas|default("")}}</textarea>
                    </div>
                </div>

            </div>

        </div>


    </form>


{% endblock main %}

{% block javascripts %}
    {{parent()}}
    <script src="{{app.request.getBasePath()}}/assets/datatables/jquery.dataTables.min.js"></script>
    <script src="{{app.request.getBasePath()}}/assets/datatables/dataTables.bootstrap.min.js"></script>
    <script>
        var factura = '{{reserva.factura.id|default("null")}}';
        var estado = {{reserva.estado.id}};
                $(function () {
                    $('#tb_reservas').DataTable({
                        "paging": true,
                        "lengthChange": false,
                        "searching": false,
                        "order": [[1, 'asc']],
                        "info": true,
                        "autoWidth": false
                    });
                });
        $("#estado").on('change', function () {
            if (factura == 'null' && $(this).val() == 14) {
                $(this).val(estado);
                alert("No puedes finalizar una reserva sin facturarla!");
            }
        });
        $('#borrarReserva').on('click', function (e) {
            e.preventDefault();
            $.confirm({
                title: 'Borrar reserva?',
                content: '{{app.user }} estás seguro que quieres borrar esta reserva?.',
                autoClose: 'cancelar|8000',
                buttons: {
                    deleteUser: {
                        text: 'Borrar',
                        action: function () {
                            $.alert('Deleted the user!');
                            window.location.href = $('#borrarReserva').attr('href');
                        }
                    },
                    cancelar: function () {
                        $.alert('Uff, por los pelos..');
                    }
                }
            });
        });
    </script>
{% endblock javascripts %}