{% extends 'AppBundle::panel.html.twig' %}

{% block title %}{% endblock title %}

{% block breadcrumb %}{% endblock breadcrumb %}

{% block main %}
    {{ form_start(form) }}

        <div class="row">
            <div class="col-md-4">
                <div class="box box-azul box-solid">
                    <div class="box-header">
                         <h3 class="box-title">Gastos</h3>
                                                        
                    </div>
                    <!-- /.box-header -->         
                    <div class="box-body caja"> 
                        {{ form_row(form.id) }}
                        {{ form_row(form.cantidad) }}
                    {{ form_widget(form.detalle) }}

 
                   
                            
{#                            <div class="form-group">
                                <label class="col-sm-2 control-label required" for="reserva_empresa">Empresa</label>
                                <div class="col-sm-9">{{ form_widget(form.empresa) }}</div>
                                <div class="col-sm-1"><a href="#" onclick="addEmpresa()"><i class="fa fa-plus-circle fa-3x" style="color:green"></i></a></div>
                            </div>
#}                            {{ form_row(form.empresa) }}
                    </div>
                </div>
            </div>
            <div class="col-md-8 row">

            </div>
        </div>
          
         
        <input class ="btn btn-info boton" type="submit" value="Guardar" />
{{ form_end(form) }}

{% endblock %}

{% block javascripts %}
    {{parent()}}
        <script src=" {{asset('bundles/app/js/new.js')}} "></script>
{% endblock javascripts %}
