{% extends "@App/panel.html.twig" %}
{% block main %}


<div class="row">
 <div class="col-md-13">
         <div class="box box-azul box-solid box-text">{# collapsed-box #}
            <div class="box-header">
                <h3 class="box-title">Facturas emitidas</h3>

         
            </div>
            <!-- /.box-header -->
 <div class="box-body no-padding">


        
<table  class="table table-condensed dataTable">


    <thead>
        <tr>
            <th style="width: 40px">ID</th>
            <th>Proveedor</th>
            <th>Fecha</th>
            <th>Nro Factura</th>
            <th>id</th>
            <th>Descuento</th>
            <th>IVA</th>
            <th>Total</th>
        </tr>
    </thead>
        {% set facturastotalBruto = 0 %}
        {% set facturastotal = 0 %}
        {% set facturasImpuestos = 0 %}
    <tbody>
       
       
       
        {% for concepto in concepto %}
            <tr  style="page-break-inside: avoid;">
                
                <td>{{concepto.id | default("")}}</td>
                <td>{{concepto.empresa | default("")}}</td>
                <td data-order="{{concepto.fecha.timestamp}}">{{concepto.fecha.format("d-m-y")}}</td>
                <td>{{concepto.NroFactura | default("")}}</td>
      

        
                <td>{{DetalleConcepto.id }}</td>

   

          
               
                <td>{{concepto.Descuento | number_format(2, '.', ',') }}€</td>
                <td>{{concepto.IVA |number_format(0)}}%</td>
                <td>{{concepto.Total |number_format(2, '.', ',') }}€</td>


            </tr>
        {% endfor %}    
    </tbody>

    
  <tfoot>
            <tr>
                <th>Totales</th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                
            </tr>
        </tfoot>

        {% block javascripts %}
    {{parent()}}
    <script>
        $(function () {
            $('.dataTable').DataTable({
                "paging": true,
                "bPaginate": false,
{#                "lengthChange": false,#}
{#                "searching": false,#}
                "ordering": true,
                "order": [[0, 'desc']],
{#                "info": false,#}
                "autoWidth": false,
{#                drawCallback: function () {
                  var api = this.api();
                  $( api.table().footer() ).html(
                    api.column( 7, {page:'current'} ).data().sum()
                  );
                }
#}                 
        "footerCallback": function ( row, data, start, end, display ) {
            var api = this.api(), data;
            
            base_total = api.column( 5 ).data().sum();
            base_page = api.column( 5, { page: 'current'} ).data().sum();
            $( api.column(5).footer() ).html(base_page +'€<br/>'+ base_total +'€');
            
          

            total = api.column( 8 ).data().sum();
            page = api.column( 8, { page: 'current'} ).data().sum();
            $( api.column(8).footer() ).html(page +'€<br/>'+ total +'€');
        }
            
            });
        });
    </script>
{% endblock javascripts %}



</table>
      
      
              
              </div>
        </div>
    </div>

           <!-- AQUI termina EL MODULO empresas -->

           
            </div>
            <!-- /.box-body -->
          </div>
        </div>
    </div>


           <!-- JAVASCRIPT PARA MEJORAR LA BUSQUEDA -->    
    {{parent()}}
    <script>
        $(function () {
            $('.dataTable').DataTable({
                "ordering": true,
                "order": [[0, 'asc']],
            });
        });
    </script>     


{% endblock main %}