{% extends 'admin/standard_layout.html.twig' %}

{% block sonata_admin_content %}
    <div class="box box-azul box-solid">
        <div class="box-header">
            <h3 class="box-title">Gestión de ficheros</h3>
            <div class="box-tools pull-right">
                <span data-toggle="tooltip" title="" class="badge" data-original-title="4 Entregas pendientes" style="font-size: 1.2em">4</span>
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
            </div>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <table class="table table-condensed dataTable">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Path</th>
                        <th>Type</th>
                        <th>Entidad</th>
                        <th>Identidad</th>
                        <th>Categoria</th>
                        <th>Fechasubida</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for fichero in ficheroes %}
                        <tr>
                            <td><a href="{{ path('fichero_show', { 'id': fichero.id }) }}">{{ fichero.nombre }}</a></td>
                            <td>{{ fichero.path }}</td>
                            <td>{{ fichero.type }}</td>
                            <td>{{ fichero.entidad }}</td>
                            <td>{{ fichero.idEntidad }}</td>
                            <td>{{ fichero.categoria }}</td>
                            <td>{% if fichero.fechaSubida %}{{ fichero.fechaSubida|date('Y-m-d H:i:s') }}{% endif %}</td>
                            <td>
                                <ul>
                                    <li>
                                        <a href="{{ path('fichero_show', { 'id': fichero.id }) }}">show</a>
                                    </li>
                                    <li>
                                        <a href="{{ path('fichero_edit', { 'id': fichero.id }) }}">edit</a>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <!-- /.box-body -->
        <div class="box-footer text-center">
          <a href="{{ path('fichero_new') }}">Subir nuevo fichero</a>
        </div>
        <!-- /.box-footer -->
        
    </div>

{% endblock sonata_admin_content %}
