{% extends 'admin/standard_layout.html.twig' %}

{% block sonata_admin_content %}
    <h1>Fichero creation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Create" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('fichero_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock sonata_admin_content %}
