{% extends 'base.html.twig' %}

{% block body %}
    <h1>Fichero</h1>

    <table>
        <tbody>
            <tr>
                <th>Nombre</th>
                <td>{{ fichero.nombre }}</td>
            </tr>
            <tr>
                <th>Path</th>
                <td>{{ fichero.path }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ fichero.type }}</td>
            </tr>
            <tr>
                <th>Entidad</th>
                <td>{{ fichero.entidad }}</td>
            </tr>
            <tr>
                <th>Identidad</th>
                <td>{{ fichero.idEntidad }}</td>
            </tr>
            <tr>
                <th>Categoria</th>
                <td>{{ fichero.categoria }}</td>
            </tr>
            <tr>
                <th>Fechasubida</th>
                <td>{% if fichero.fechaSubida %}{{ fichero.fechaSubida|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ fichero.id }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('fichero_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('fichero_edit', { 'id': fichero.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
