{% extends 'AppBundle:Default:layout-pdf-interno.html.twig' %}
{% block pagina %}
    <div class="box box-default box-solid" style="page-break-inside: avoid;">{# collapsed-box #}
        <div class="box-header">
            <h3 class="box-title">Entregas Pendientes</h3>
            <div class="box-tools pull-right">
                <span data-toggle="tooltip" title="" class="badge bg-yellow" data-original-title="{{entregas|length}} Entregas pendientes" style="font-size: 1.2em">{{entregas|length}}</span>
            </div>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
                {% include 'AppBundle:Modulos:Movimientos.html.twig' with {'movimientos': entregas, 'tipo':'entrega', 'cliente': 'true'} %}
        </div>
        <!-- /.box-body -->
    </div>

    <div class="box box-default box-solid" style="page-break-inside: avoid;">
        <div class="box-header">
            <h3 class="box-title">Recogidas Pendientes</h3>
            <div class="box-tools pull-right">
                <span data-toggle="tooltip" title="" class="badge bg-yellow" data-original-title="{{recogidas|length}} Recogidas pendientes" style="font-size: 1.2em">{{recogidas|length}}</span>
            </div>

        </div>
        <!-- /.box-header -->
        <div class="box-body">
                {% include 'AppBundle:Modulos:Movimientos.html.twig' with {'movimientos': recogidas, 'tipo':'recogida', 'cliente': 'true'} %}
        </div>
        <!-- /.box-body -->
    </div>
</div>  

{% endblock pagina %}
