{% for dir in dirs %}
    {% if dir.mimetype == 'directory' %}
        <li {% if current_path == dir.path %}class="dir_active"{% endif %}>
            <span class="yw_file_manager_directory_line">
                {% if dir.tree is not empty %}
                    <span class="toggleIcon toggleDir"><i class="fa fa-caret-right"></i></span>
                {% else %}
                    <span class="toggleIcon noToggle"></span>
                {% endif %}
                <span title="{{ dir.name }}" class="yw_file_manager_dir nowrap"
                      id="{{ dir.path }}">{{ dir.name }}</span>
            </span>
            <ul>
                {% include "IwebFileManagerBundle:FileManager:file_manager_dir.html.twig" with {'dirs': dir.tree, 'inner': 'inner_tree'} %}
            </ul>
        </li>
    {% endif %}
{% endfor %}