{% extends 'admin/standard_layout.html.twig' %}

{% block sonata_admin_content %}
    <h1>Movimiento list</h1>

    <table>
        <thead>
            <tr>
                <th>Fecha</th>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for movimiento in movimientos %}
            <tr>
                <td><a href="{{ path('movimiento_show', { 'id': movimiento.id }) }}">{{ movimiento.fecha.format("d-m-Y") }}</a></td>
                <td>{{ movimiento.id }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('movimiento_show', { 'id': movimiento.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('movimiento_edit', { 'id': movimiento.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('movimiento_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
