{% extends 'admin/standard_layout.html.twig' %}

{% block sonata_admin_content %}
    <div class="row">
        <div class="col-md-6">
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#tab_1" data-toggle="tab">General</a></li>
                    <li><a href="#tab_2" data-toggle="tab">Reservas</a></li>
{#                    <li><a href="#tab_3" data-toggle="tab">Tab 3</a></li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            Dropdown <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Action</a></li>
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Another action</a></li>
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Something else here</a></li>
                            <li role="presentation" class="divider"></li>
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Separated link</a></li>
                        </ul>
                    </li>
#}                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="tab_1">
                        <div class="row">
                            <div class="col-md-6">
                                <h2><i class="fa fa-calendar"></i> Fechas</h2>
                                <p>
                                    <b>Fecha:</b>{{movimiento.fecha.format("d-m-Y") | default("Sin definir")}}<br>
                                </p>
                            </div>
                            <div class="col-md-6">
                                <h2><i class="fa fa-map"></i> Ubicación</h2>
                                <p>
                                    {{movimiento.direccion.nombre | default("")}}<br />
                                    {{movimiento.direccion.direccion}}<br />
                                    {{movimiento.direccion.municipio}}<br />
                                    {{movimiento.direccion.provincia}} {{movimiento.direccion.pais}}
                                </p>
                            </div>                           
                        </div>
                    </div>
                    <!-- /.tab-pane -->
                    <div class="tab-pane" id="tab_2">
                        <h3>Entregas</h3>
                        {% include 'AppBundle:Modulos:Reservas.html.twig' with {'reservas':reservas_entrega} %}
                        <h3>Recogidas</h3>
                        {% include 'AppBundle:Modulos:Reservas.html.twig' with {'reservas':reservas_recogida} %}
                    </div>
                    <!-- /.tab-pane -->
                </div>
                <!-- /.tab-content -->
            </div>            
        </div>
        <div class="col-md-6">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Estado</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div class="btn btn-large" style="width:100%; background-color: {{movimiento.estado.color}}">{{movimiento.estado.nombre}}</div>
{#                    <select name="estado">
                        {% for estado in estados %}
                            <option value="{{estado.id}}" style="background-color: {{estado.color}}">{{estado.nombre}}</option>
                        {% endfor %}
                    </select>
#}            {{ form_start(estado_form) }}
            {{ form_widget(estado_form)}}
                <input type="submit" value="Actualizar">
            {{ form_end(estado_form) }}
                    

                    {#             <ul class="timeline">
             
                                 <!-- timeline time label -->
                                 <li class="time-label">
                                     <span class="bg-red">
                                         10 Feb. 2014
                                     </span>
                                 </li>
                                 <!-- /.timeline-label -->
             
                                 <!-- timeline item -->
                                 <li>
                                     <!-- timeline icon -->
                                     <i class="fa fa-newspaper-o bg-blue"></i>
                                     <div class="timeline-item">
                                        <span class="time"><i class="fa fa-clock-o"></i> 12:05</span>
             
                                         <h3 class="timeline-header"><a href="#">Agregada Reserva</a> ...</h3>
                                         <div class="timeline-body">
                                             Entrega 27 Standard
                                         </div>
             
                                       <div class="timeline-footer">
                                             <a class="btn btn-primary btn-xs">...</a>
                                         </div>
                                     </div>
                                 </li>
                                 <!-- END timeline item -->
                             </ul>        #}            
                </div>
                <!-- /.box-body -->
            </div>
        </div>
    </div>
{% endblock sonata_admin_content %}

{% block javascripts %}
    {{parent()}}
    <script src="{{app.request.getBasePath()}}/assets/datatables/jquery.dataTables.min.js"></script>
    <script src="{{app.request.getBasePath()}}/assets/datatables/dataTables.bootstrap.min.js"></script> 
    <script>
        $(function () {
            $('#tb_reservas').DataTable({
                "paging": true,
                "lengthChange": false,
                "searching": false,
                "order": [[1, 'asc']],
                "info": true,
                "autoWidth": false
            });
        });
    </script>
{% endblock javascripts %}



