{% extends "@App/panel.html.twig" %}

{% block main %}
    <div class="box box-azul box-solid">
        <div class="box-header">
            <h3 class="box-title">Facturas Emitidas</h3>
            <div class="box-tools pull-right">
                <span data-toggle="tooltip" title="" class="badge" data-original-title="3 Entregas pendientes" style="font-size: 1.2em">{{facturas| length}}</span>
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
            </div>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <table class="table table-condensed dataTable">
                <thead>
                    <tr>
                        <th>Nº</th>
                        <th>Fecha</th>
                        <th>CIF</th>
                        <th>Pais</th>
                        <th>Cliente</th>
                        <th>Reservas</th>
                        <th>Base</th>
                        <th>Imp.</th>
                        <th>Impuestos</th>
                        <th>Total</th>
                        <th>Estado</th>
                        <th>Imprimir</th>
                        <th>Opciones</th>
                    </tr>
                </thead>
                {% set facturastotalBruto = 0 %}
                {% set facturastotal = 0 %}
                {% set facturasImpuestos = 0 %}
                <tbody>
                    {% for factura in facturas %}
                        <tr>
                            <td>{{factura.fechaEmision.format('Y')}}{{"%03d"|format(factura.numero)}}</td>
                            <td data-order="{{factura.fechaEmision.format('U')}}">{{factura.fechaEmision.format('d-m-Y')}}</td>
                            <td>{{factura.receptor.cif | default("")}}</td>
                            <td>{{factura.receptor.dirFacturacion.pais | default("")}}</td>
                            <td>{{factura.receptor.sociedad | default("")}}</td>
                            <td>
                                {% for reserva in factura.pedido %}
                                    <a href="{{ path("reserva_show",{"reserva":reserva.id}) }}">{{reserva.id}}</a>
                                    {% if loop.last == false %}
                                        &nbsp;|&nbsp;
                                    {% endif %}
                                {% endfor %}
                            </td>

                            {% if factura.estado.nombre != "REEMBOLSO" %}
                                <td>{{factura.totalBruto|number_format(2, '.', ',')}} €</td>
                                <td>{{factura.impuestos|number_format(0)}}%</td>
                                <td>{{factura.totalImpuestos|number_format(2, '.', ',')}} €</td>
                                <td>{{factura.total|number_format(2, '.', ',')}} €</td>
                                {% set facturastotalBruto = facturastotalBruto + factura.totalBruto %}
                                {% set facturastotal = facturastotal + factura.total %}
                                {% set facturasImpuestos = facturasImpuestos + factura.totalImpuestos %}
                            {% else %}
                                <td><del>{{factura.totalBruto|number_format(2, '.', ',')}} €</del></td>
                                <td><del>{{factura.impuestos|number_format(0)}}%</del></td>
                                <td><del>{{factura.totalImpuestos|number_format(2, '.', ',')}} €</del></td>
                                <td><del>{{factura.total|number_format(2, '.', ',')}} €</del></td>
                            {% endif %}
                            <td>{{factura.estado.nombre}}</td>
                            <td><a target="_blank" href="{{ path('factura_print', {'id': factura.id}) }}">Imprimir</a></td>
                            <td>
                                {% if factura.estado.nombre == "FACTURADA" %}
                                    <a href="{{ path('factura_estado', {'id': factura.id}) }}">Cobrar</a> |
                                    <a class="borrarFactura" href="{{ path('factura_borrar', {'id': factura.id}) }}">Borrar</a>
                                {% elseif factura.estado.nombre == "PAGADA" %}
                                    <a href="{{ path('factura_estado', {'id': factura.id}) }}">Reembolso</a>
                                {% elseif factura.estado.nombre == "REEMBOLSO" %}
                                    <a href="{{ path('factura_estado', {'id': factura.id}) }}">Pte. Cobro</a>
                                {% endif %}
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="8" style="text-align: center">No existen facturas disponibles</td>
                        </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <th>Totales</th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>

                    </tr>
                </tfoot>

            </table>
        </div>
        <div class="box-footer">
            <form method="GET" action="{{ path("facturacion_index") }}" >
                <table class="table table-condensed">
                    <tr>
                        <td>Filtros:</td>
                        <td>
                            <select name="trimestre">
                                <option value="">Todos</option>
                                <option value="1T"{% if filtro.trimestre == "1T" %}selected="selected"{% endif %}>1T</option>
                                <option value="2T"{% if filtro.trimestre == "2T" %}selected="selected"{% endif %}>2T</option>
                                <option value="3T"{% if filtro.trimestre == "3T" %}selected="selected"{% endif %}>3T</option>
                                <option value="4T"{% if filtro.trimestre == "4T" %}selected="selected"{% endif %}>4T</option>
                            </select>
                        </td>
                        <td>
                            <select name="ano">
                                <option value="">Todos</option>
                                <option value="2016"{% if filtro.ano == "2016" %}selected="selected"{% endif %}>2016</option>
                                <option value="2017"{% if filtro.ano == "2017" %}selected="selected"{% endif %}>2017</option>
                                <option value="2018"{% if filtro.ano == "2018" %}selected="selected"{% endif %}>2018</option>
                            </select>
                        </td>
                        <td>
                            <select name="cliente" class="select2">
                                <option value="">Todos</option>
                                {% for empresa in empresas %}
                                    <option value="{{empresa.id}}"{% if filtro.empresa.id|default(null) == empresa.id %}selected="selected"{% endif %}>{{empresa}}</option>
                                {% endfor %}
                            </select>
                        </td>
                        <td>
                            <input type="submit" value="Filtrar" class="boton"/>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
        <!-- /.box-body -->
    </div>
    {#    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Create" />
    {{ form_end(form) }}
#}
    {#    <ul>
            <li>
                <a href="{{ path('factura_index') }}">Back to the list</a>
            </li>
        </ul>
    #}{% endblock main %}

{% block javascripts %}
    {{parent()}}
    <script>
        $(function () {
            $('.dataTable').DataTable({
                "paging": true,
                "bPaginate": false,{#                "lengthChange": false,#}
        {#                "searching": false,#}
                    "ordering": true,
                    "order": [[0, 'desc']],
        {#                "info": false,#}
                    "autoWidth": false,
        {#                drawCallback: function () {
                          var api = this.api();
                          $( api.table().footer() ).html(
                            api.column( 7, {page:'current'} ).data().sum()
                          );
                        }
        #}
                    "footerCallback": function (row, data, start, end, display) {
                        var api = this.api(), data;

                        base_total = api.column(6).data().sum();
                        base_page = api.column(6, {page: 'current'}).data().sum();
                        $(api.column(6).footer()).html(base_page + '€<br/>' + base_total + '€');

                        imp_total = api.column(8).data().sum();
                        imp_page = api.column(8, {page: 'current'}).data().sum();
                        $(api.column(8).footer()).html(imp_page + '€<br/>' + imp_total + '€');

                        total = api.column(9).data().sum();
                        page = api.column(9, {page: 'current'}).data().sum();
                        $(api.column(9).footer()).html(page + '€<br/>' + total + '€');
                    }

                });
                $('.borrarFactura').on('click', function (e) {
                    e.preventDefault();
                    $.confirm({
                        title: 'Borrar factura?',
                        content: '{{app.user }} estás seguro que quieres borrar esta factura?.',
                        autoClose: 'cancelar|8000',
                        buttons: {
                            deleteUser: {
                                text: 'Borrar',
                                action: function () {
                                    window.location.href = $('#borrarReserva').attr('href');
                                }
                            },
                            cancelar: function () {
                                $.alert('Uff, por los pelos..');
                            }
                        }
                    });
                });

            });
    </script>
{% endblock javascripts %}
