{% extends "@App/panel.html.twig" %}

{% block main %}
{#    <h1>{{empresa|default('Nueva empresa')}}</h1>#}
{{ form_start(form) }}
{#        {{ form_widget(form) }}#}
    <div class="row">
        <div class="col-md-12">
            <div class="box box-azul box-solid box-text">{# collapsed-box #}
                <div class="box-header">
                    <h3 class="box-title">General</h3>
                    <div class="box-tools pull-right">
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    {{ form_row(form.sociedad) }}
                    {{ form_row(form.cif) }}
                    {{ form_row(form.nombre) }}
                    {{ form_row(form.web) }}
                    {{ form_row(form.activa) }}
                </div>
                <!-- /.box-body -->
            </div>
        </div>
                
       <div class="col-md-12">
            <div class="box box-azul box-solid box-text">{# collapsed-box #}
                <div class="box-header">
                    <h3 class="box-title">Contacto</h3>
                    <div class="box-tools pull-right">
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    {{ form_row(form.pContacto) }}
                    {{ form_row(form.tlfFijo) }}
                    {{ form_row(form.tlfMovil) }}
                    {{ form_row(form.emailContacto) }}
                </div>
                <!-- /.box-body -->
            </div>
        </div>
       
        <br><div class="col-md-12">
            <div class="box box-azul box-solid box-text">{# collapsed-box #}
                <div class="box-header">
                    <h3 class="box-title">Dirección Entregas</h3>
                    <div class="box-tools pull-right">
                    </div>
                </div>
                <div class="box-body">
                    {{ form_widget(form.dirEntrega) }}
                </div>
            </div>
        </div>

        
          
        <div class="col-md-12">
            <div class="box box-azul box-solid box-text">{# collapsed-box #}
                <div class="box-header">
                    <h3 class="box-title">Financiero</h3>
                    <div class="box-tools pull-right">
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    {{ form_row(form.emailFacturacion) }}
                    {{ form_row(form.precioAlquiler) }}
                    {{ form_row(form.precioTransporte) }}
                    {{ form_row(form.notasFacturacion) }}
                    <h4>Dirección Facturación</h4>
                    {{ form_widget(form.dirFacturacion) }}
                        <input type="submit" value="Guardar" class="btn btn-success"/>

                 </div>
                <!-- /.box-body -->
            </div>
        </div>
                
    {{ form_end(form) }}        
    </div>
    
{% endblock main %}