{% extends "@App/panel.html.twig" %}

{% block main %}
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="box box-azul box-solid">{# collapsed-box #}
                <div class="box-header">
                    <h3 class="box-title">Listado empresas</h3>
                    <div class="box-tools pull-right">
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    {% include '@App/Empresa/tabla.twig' %}
                </div>
                <!-- /.box-body -->
                <div class="box-footer">
                    <a href="{{ path('empresa_new') }}" class="btn boton">Nueva Empresa</a>
                </div>
            </div>
        </div>
    </div>
    
{% endblock main %}

{% block javascripts %}
    {{parent()}}
    <script>
        $(function () {
            $('.dataTable').DataTable({
                "ordering": true,
                "order": [[0, 'asc']],
            });
        });
    </script>
{% endblock javascripts %}
