{% extends "@App/panel.html.twig" %}
{% block main %}
  <h1>{{empresa}}</h1>    
    <div class="row">
        <div class="col-md-3">
            <div class="box box-azul box-solid box-text">{# collapsed-box #}
                <div class="box-header">
                    <h3 class="box-title">General</h3>
                    <div class="box-tools pull-right">
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <b>Id:</b> {{ empresa.id }} <br/>
                    <b>Sociedad:</b> {{ empresa.sociedad }} <br/>
                    <b>Cif:</b> {{ empresa.cif }} <br/>
                    <b>Nombre:</b> {{ empresa.nombre }} <br/>
                    <b>web:</b> {{ empresa.web }} <br/>
                    <b>Activa:</b> {% if empresa.activa %}<span class="budget budget-success">Sí</span>{% else %}<span class="budget budget-error">No</span>{% endif %} <br/>
                    
   
                </div>




                <div class="box-footer">
                    <a href="{{ path("empresa_edit",{"empresa":empresa.id})}}" class="btn btn-action">Editar</a>
                </div></br>
                
                <!-- /.box-body -->
            </div>
        </div>
                
   
   
        <div class="col-md-3">
            <div class="box box-azul box-solid box-text">{# collapsed-box #}
                <div class="box-header">
                    <h3 class="box-title">Financiero</h3>
                    <div class="box-tools pull-right">
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <b>Email:</b> {{ empresa.emailFacturacion }} <br/>
                    <b>Precio Alquiler:</b> {{ empresa.precioAlquiler|default('Sin definir') }} <br/>
                    <b>Precio Transporte:</b> {{ empresa.precioTransporte|default('Sin definir') }} <br/>
                    <b>Notas:</b> {{ empresa.notasFacturacion }} <br/>
                    <h4>Dirección facturación</h4>
                   {% include '@App/Modulos/Direccion.twig' with {'direccion':empresa.dirFacturacion} %}                



                </div>
                <!-- /.box-body -->
            </div>
        </div>


        <div class="col-md-3">
            <div class="box box-azul box-solid box-text">{# collapsed-box #}
                <div class="box-header">
                    <h3 class="box-title">Dirección Entregas</h3>
                    <div class="box-tools pull-right">
                    </div>
                </div>
                <div class="box-body">
                    {% include '@App/Modulos/Direccion.twig' with {'direccion':empresa.dirEntrega} %}
                </div>
            </div>
        </div>



        <div class="col-md-3">
            <div class="box box-azul box-solid box-text">{# collapsed-box #}
                <div class="box-header">
                    <h3 class="box-title">Contacto</h3>
                    <div class="box-tools pull-right">
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <b>Contacto:</b> {{ empresa.pContacto }} <br/>
                    <b>Tlf Fijo:</b> {{ empresa.tlfFijo }} <br/>
                    <b>Tlf Movil:</b> {{ empresa.tlfMovil }} <br/>
                    <b>Email:</b> {{ empresa.emailContacto }} <br/>
                </div>
                <!-- /.box-body -->
            </div>
        </div>
       
                
</div>
    <!-- AQUI COMIENZA EL MODULO empresas filtro -->

<div class="row">
 <div class="col-md-13">
         <div class="box box-azul box-solid box-text">{# collapsed-box #}
            <div class="box-header">
                <h3 class="box-title">Info. Empresa</h3>

         
            </div>
            <!-- /.box-header -->
 <div class="box-body no-padding">

{% if filtro is defined and filtro is not null %}
<form action="" />
<table class="table table-condensed">
    <tr>
        <td>Filtros:</td>
        <td><input type="date" name="inicio" value="{{filtro.valores.inicio | default("01-01-2017")}}"/></td>
        <td><input type="date" name="fin" value="{{filtro.valores.fin | default("31-12-2017")}}"/></td>
            <td><select name="estado">
                <option value="">Estado - Todos</option>
                {% for estado in filtro.opciones.estados %}
                    <option value="{{estado.id}}" {% if filtro.valores.estado == estado %}selected="selected"{% endif %}>{{estado}}</option>
                {% endfor %}
            </select></td>
            
            <td><select name="modelo">
                <option value="">Modelo - Todos</option>
                <option value="RG01" {% if filtro.valores.modelo == "RG01" %}selected="selected"{% endif %}>RG01</option>
                <option value="SAU" {% if filtro.valores.modelo == "SAU" %}selected="selected"{% endif %}>SAU</option>
            </select></td>
        <td><input type="checkbox" name="lduracion"{% if filtro.valores.lduracion == 'on' %}checked="checked"{% endif %}/>Larga Duración</td>
        <td><input type="submit" class="boton" value="Filtrar" />
    </tr>
</table>
</form>
{% endif %}

        
<table id="tb_reservas" class="table table-condensed dataTable">


    <thead>
        <tr>
            <th style="width: 30px">ID</th>
            <th>Inicio</th>
            <th>Fin</th>
            <th class="hidden-xs">D.</th>
            <th>Cliente</th>
            <th class="hidden-xs">Referencia</th>
            <th style="text-align:center">Uds.</th>
            {% if tipo is not defined or tipo != "cliente" %}
                <th style="text-align:center">Modelo</th>
            {% endif %}
            <th style="text-align:center">Estado</th>
            <th style="text-align:center">Entrega</th>
            <th style="text-align:center">Recogida</th>
            <th style="text-align:right">Total</th>
        </tr>
    </thead>
    <tbody>
       
       
       
        {% for reserva in reservas %}
            <tr  style="page-break-inside: avoid;">
                <td><a href="{{ path('reserva_show' ,{'reserva':reserva.id})}}" style="color: {{reserva.estado.color | default("")}};">{{reserva.id}}</a></td>
                <td data-order="{{reserva.fechaInicio.timestamp}}">{{reserva.fechaInicio.format("d-m-y")}}</td>
                <td data-order="{{reserva.fechaFin.timestamp}}">{{reserva.fechaFin.format("d-m-y")}}</td>                
                <td class="hidden-xs">{{reserva.numDias}}</td>
                <td>{{empresa.nombre | default("")}}</td>
                <td class="hidden-xs">{{reserva.circuito | default("")}}</td>
                <td style="text-align:center">{{reserva.cantidadReceptores | default("0")}}</td>
                {% if tipo is not defined or tipo != "cliente" %}
                <td style="text-align:center">{{reserva.modelo | default("")}}</td>
                {% endif %}
                <td style="text-align:center"><span class="badge estado" style="color: {{reserva.estado.color | default("")}};border-color: {{reserva.estado.color | default("")}};">{{reserva.estado.nombre | default("")}}</span></td>
                <td style="text-align:center"><span class="badge estado" style="color: {{reserva.entrega.estado.color | default("red")}};border-color: {{reserva.entrega.estado.color | default("red")}};">{% if tipo is not defined or tipo != "cliente" %}{{reserva.entrega.fecha.format("d-m H:i") | default("s/a")}}{% else %}{{reserva.entrega.fecha.format("d-m") | default("s/a")}}{% endif %}</span></td>
                <td style="text-align:center"><span class="badge estado" style="color: {{reserva.recogida.estado.color | default("red")}};border-color: {{reserva.recogida.estado.color | default("red")}};">{% if tipo is not defined or tipo != "cliente" %}{{reserva.recogida.fecha.format("d-m H:i") | default("s/a")}}{% else %}{{reserva.recogida.fecha.format("d-m") | default("s/a")}}{% endif %}</span></td>                
                <td style="text-align:right" data-order="{{reserva.total}}">{{reserva.total|number_format(2, '.', ',')}} €</td>
            </tr>
        {% endfor %}    
    </tbody>

    



</table>
      
      
              
              </div>
        </div>
    </div>

           <!-- AQUI termina EL MODULO empresas -->

           
            </div>
            <!-- /.box-body -->
          </div>
        </div>
    </div>


           <!-- JAVASCRIPT PARA MEJORAR LA BUSQUEDA -->    
    {{parent()}}
    <script>
        $(function () {
            $('.dataTable').DataTable({
                "ordering": true,
                "order": [[0, 'asc']],
            });
        });
    </script>     


{% endblock main %}



  