<table class="table table-responsive dataTable">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Contacto</th>
            <th>Email</th>
            <th>Teléfono</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for empresa in empresas %}
        <tr>
            <td>{{empresa.nombre}}</td>
            <td>{{empresa.pContacto}}</td>
            <td>{{empresa.emailContacto}}</td>
            <td>{{empresa.tlfFijo}} - {{empresa.tlfMovil}}</td>
            <td><a href="{{ path("empresa_show",{'empresa':empresa.id}) }}">ver</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>