{% extends "@App/panel.html.twig" %}

{% block main %}
    <div class="box box-azul box-solid">
        <div class="box-header">
            <h3 class="box-title">Costes</h3>
            <div class="box-tools pull-right">
                <span data-toggle="tooltip" title="" class="badge" data-original-title="{{facturas| length}} Facturas recibidas" style="font-size: 1.2em">{{facturas| length}}</span>
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
            </div>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <table class="table table-condensed dataTable">
                <thead>
                    <tr>
                        <th>Nº</th>
                        <th>Fecha</th>
                        <th>CIF</th>
                        <th>Tipo coste</th>
                        <th>Proveedor</th>
                        <th>Base</th>
                        <th>Imp.</th>
                        <th>Impuestos</th>
                        <th>Total</th>
                        <th>Estado</th>
                        <th>Opciones</th>
                    </tr>
                </thead>
                {% set facturastotalBruto = 0 %}
                {% set facturastotal = 0 %}
                {% set facturasImpuestos = 0 %}
                <tbody>
                    {% for factura in facturas %}
                        <tr>
                            <td>
                                {% if factura.notas is defined %}
                                    <a href="#" data-toggle="popover" data-content="{{ factura.notas }}"><i class="fa fa-sticky-note"></i></a>
                                    {% endif %}
                                    {% if factura.ficheros|length > 0 %}
                                    <a href="#" data-toggle="popover" data-html="true" data-content="
                                       {%for file in factura.ficheros %}
                                           <li><a href='/uploads/{{file.path}}' target='_blank'>{{file.nombre}}</a></li>
                                       {% endfor %}
                                       "><i class="fa fa-file"></i></a>
                                    {% endif %}

                                <a href="{{ path("costes_view",{'factura':factura.id})}}">{{factura.numero|default(factura.id)}}</a>

                            </td>
                            <td data-order="{{factura.fechaEmision.format('U')}}">{{factura.fechaEmision.format('d-m-Y')}}</td>
                            <td><span class='badge' style='background-color: purple;text-transform: uppercase'>{{factura.emisor.dirFacturacion.pais | default("")}}</span>{{factura.emisor.cif | default("")}}</td>
                            <td>{{factura.categoria | default("")}}</td>
                            <td>{{factura.emisor.sociedad | default("")}}</td>

                            {% if factura.estado.nombre != "REEMBOLSO" %}
                                <td>{{factura.totalBruto|number_format(2, '.', ',')}} €</td>
                                <td>{{factura.impuestos|number_format(0)}}%</td>
                                <td>{{factura.totalImpuestos|number_format(2, '.', ',')}} €</td>
                                <td>{{factura.total|number_format(2, '.', ',')}} €</td>
                                {% set facturastotalBruto = facturastotalBruto + factura.totalBruto %}
                                {% set facturastotal = facturastotal + factura.total %}
                                {% set facturasImpuestos = facturasImpuestos + factura.totalImpuestos %}
                            {% else %}
                                <td><del>{{factura.totalBruto|number_format(2, '.', ',')}} €</del></td>
                                <td><del>{{factura.impuestos|number_format(0)}}%</del></td>
                                <td><del>{{factura.totalImpuestos|number_format(2, '.', ',')}} €</del></td>
                                <td><del>{{factura.total|number_format(2, '.', ',')}} €</del></td>
                            {% endif %}
                            <td>{{factura.estado.nombre}}</td>
                            <td>
                                <a href="{{ path('costes_edit', {'id': factura.id}) }}"><i class="fa fa-edit"></i></a> |
                                {% if factura.estado.nombre == "FACTURADA" %}
                                    <a href="{{ path('costes_estado', {'id': factura.id}) }}">Pagar</a> |
                                    <a href="{{ path('costes_borrar', {'id': factura.id}) }}">Borrar</a>
                                {% elseif factura.estado.nombre == "PAGADA" %}
                                    <a href="{{ path('costes_estado', {'id': factura.id}) }}">Reembolso</a>
                                {% elseif factura.estado.nombre == "REEMBOLSO" %}
                                    <a href="{{ path('costes_estado', {'id': factura.id}) }}">Pte. pago</a>
                                {% endif %}
                                | <a href="#" onclick="UploadFile('{{factura.id}}')"><i class="fa fa-upload"></i></a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="8" style="text-align: center">No existen facturas disponibles</td>
                        </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <th>Totales</th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </tfoot>

            </table>
        </div>
        <div class="box-footer">
            <form method="GET" action="{{ path("costes_listado") }}" >
                <table class="table table-condensed">
                    <tr>
                        <td>Filtros:</td>
                        <td>
                            <select name="trimestre">
                                <option value="">Todos</option>
                                <option value="1T"{% if filtro.trimestre == "1T" %}selected="selected"{% endif %}>1T</option>
                                <option value="2T"{% if filtro.trimestre == "2T" %}selected="selected"{% endif %}>2T</option>
                                <option value="3T"{% if filtro.trimestre == "3T" %}selected="selected"{% endif %}>3T</option>
                                <option value="4T"{% if filtro.trimestre == "4T" %}selected="selected"{% endif %}>4T</option>
                            </select>
                        </td>
                        <td>
                            <select name="ano">
                                <option value="">Todos</option>
                                <option value="2016"{% if filtro.ano == "2016" %}selected="selected"{% endif %}>2016</option>
                                <option value="2017"{% if filtro.ano == "2017" %}selected="selected"{% endif %}>2017</option>
                                <option value="2018"{% if filtro.ano == "2018" %}selected="selected"{% endif %}>2018</option>
                            </select>
                        </td>
                        <td>
                            <select name="cliente" class="select2">
                                <option value="">Todos</option>
                                {% for empresa in empresas %}
                                    <option value="{{empresa.id}}"{% if filtro.empresa.id|default(null) == empresa.id %}selected="selected"{% endif %}>{{empresa}}</option>
                                {% endfor %}
                            </select>
                        </td>
                        <td>
                            <input type="submit" value="Filtrar" class="boton"/>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
        <!-- /.box-body -->
    </div>
    <input type="file" style="display: none" id="ficheroAdd" multiple="true"/>

{% endblock main %}

{% block javascripts %}
    {{parent()}}
    <script>
        $(function () {
            $('.dataTable').DataTable({
                "paging": true,
                "bPaginate": false,{#                "lengthChange": false,#}
        {#                "searching": false,#}
                    "ordering": true,
                    "order": [[1, 'desc']],
        {#                "info": false,#}
                    "autoWidth": false,
        {#                drawCallback: function () {
                          var api = this.api();
                          $( api.table().footer() ).html(
                            api.column( 7, {page:'current'} ).data().sum()
                          );
                        }
        #}
                    "footerCallback": function (row, data, start, end, display) {
                        var api = this.api(), data;

                        base_total = api.column(5).data().sum();
                        base_page = api.column(5, {page: 'current'}).data().sum();
                        $(api.column(5).footer()).html(base_page + '€<br/>' + base_total + '€');

                        imp_total = api.column(7).data().sum();
                        imp_page = api.column(7, {page: 'current'}).data().sum();
                        $(api.column(7).footer()).html(imp_page + '€<br/>' + imp_total + '€');

                        total = api.column(8).data().sum();
                        page = api.column(8, {page: 'current'}).data().sum();
                        $(api.column(8).footer()).html(page + '€<br/>' + total + '€');
                    }

                });
            });
            $(document).ready(function () {
                $('[data-toggle="popover"]').popover({trigger: "manual"}).click(function () {
                    var pop = $(this);
                    pop.popover("show")
                    pop.on('shown.bs.popover', function () {
                        setTimeout(function () {
                            pop.popover("hide")
                        }, 2200);
                    })
                })
            });

            function UploadFile(idfactura) {
                var input = $("#ficheroAdd");
                input.attr("idfactura", idfactura);
                input.unbind('change');
                input.bind('change', function (event) {
                    // Create a formdata object and add the files
                    var data = new FormData();
                    $.each(event.target.files, function (key, value)
                    {
                        data.append(key, value);
                    });

                    $.ajax({
                        url: '/facturacion/recibidas/' + idfactura + '/upFile',
                        type: 'POST',
                        data: data,
                        cache: false,
                        dataType: 'json',
                        processData: false, // Don't process the files
                        contentType: false, // Set content type to false as jQuery will tell the server its a query string request
                        success: function (data, textStatus, jqXHR)
                        {
                            if (typeof data.error === 'undefined')
                            {
                                // Success so call function to process the form
                                submitForm(event, data);
                            } else
                            {
                                // Handle errors here
                                console.log('ERRORS: ' + data.error);
                            }
                        },
                        error: function (jqXHR, textStatus, errorThrown)
                        {
                            // Handle errors here
                            console.log('ERRORS: ' + textStatus);
                            // STOP LOADING SPINNER
                        }
                    });
                })
                input.click();
            }

    </script>
{% endblock javascripts %}
