{% extends 'AppBundle::panel.html.twig' %}

{% block title %}Nuevo coste{% endblock title %}

{% block breadcrumb %}{% endblock breadcrumb %}

{% block main %}

    <div class="row">
        <div class="col-md-4">
            <div class="box box-azul box-solid">
                <div class="box-header">
                    <h3 class="box-title">Nuevo Coste</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body caja">
                    {{ form_start(form) }}
                    {{ form_row(form) }}
                    <input type="submit" value="Guardar" />
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock main %}
