<table class="table table-condensed dataTable">
    <thead>
        <tr>
            <th style="width: 30px">ID</th>
            <th>Fecha</th>
            <th>Ubicación</th>
            <th>Municipio</th>
            <th>Unidades</th>
            <th>Repartidor</th>
            <th>Estado</th>
            <th>Detalles</th>
        </tr>
    </thead>
    <tbody>
        {% for movimiento in movimientos %}
            {%if movimiento.0.id is defined %}
                {% set total = movimiento.total %}
                {% set movimiento = movimiento.0 %}
            {% endif %}
            <tr>
                <td>{{movimiento.id}}</td>
                <td data-order="{{movimiento.fecha.timestamp}}">{{movimiento.fecha.format("d-m-Y H:i")}}</td>
                <td>{{movimiento.direccion.nombre | default(movimiento.direccion.direccion | default(""))}}</td>
                <td>{{movimiento.direccion.municipio | default("") }}</td>
                <td>{{total | default("0")}}</td>
                <td>{{movimiento.usuario.name | default("Sin Asignar")}}</td>
                <td><span class="badge" style="background-color: {{movimiento.estado.color | default("")}};">{{movimiento.estado.nombre | default("")}}</span></td>
                <td>Detalles{{dump(movimiento)}}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
