<table class="table table-condensed dataTable">
    <thead>
        <tr>
            <th style="width: 30px">ID</th>
            <th>Recogida</th>
            <th>Fin</th>
            <th>Ubicación</th>
            <th>Ciudad</th>
            <th>Uds.</th>
            <th>Modelo</th>
            <th>Circuito</th>
            <th>Estado</th>
        </tr>
    </thead>
    <tbody>
        {% for reserva in reservas %}
            <tr class="rowmovimiento" style="background-color: {{reserva.recogidaEstado.color | default("")}};">
                <td><a href="{{app.request.getBaseUrl()}}/panel/reserva/{{reserva.id}}">{{reserva.id}}</a></td>
                <td data-order="{{reserva.recogidaFecha.timestamp}}">{{reserva.recogidaFecha.format("d-m H:i")}}</td>
                <td data-order="{{reserva.fechaFin.timestamp}}">{{reserva.fechaFin.format("d-m H:i")}}</td>                
                <td>{{reserva.recogidaDireccion.nombre | default(reserva.recogidaDireccion.direccion | default(""))}}</td>
                <td>{{reserva.recogidaDireccion.municipio | default("") }}</td>
                <td>{{reserva.cantidadReceptores | default("0")}}</td>
                <td>{{reserva.modelo | default("n/a")}}</td>
                <td>{{reserva.circuito | default("n/a")}}</td>
                <td><span class="badge" style="background-color: {{reserva.recogidaEstado.color | default("")}};">{{reserva.recogidaEstado.nombre | default("")}}</span></td>
            </tr>
        {% endfor %}
    </tbody>
</table>
