<table class="table table-condensed dataTable">
    <thead>
        <tr>
            <th style="width: 30px">ID</th>
            <th>Fecha</th>
            <th>Ubicación</th>
            <th>Municipio</th>
            <th>Unidades</th>
            <th>Repartidor</th>
            <th>Estado</th>
            <th>Detalles</th>
        </tr>
    </thead>
    <tbody>
        {% for reserva in reservas %}
            {% set movimiento = reserva.entrega %}
            <tr>
                <td>{{reserva.id}}</td>
                <td data-order="{{movimiento.fecha.timestamp}}">{{movimiento.fecha.format("d-m-Y")}}</td>
                <td>{{movimiento.direccion.nombre | default(movimiento.direccion.direccion | default(""))}}</td>
                <td>{{movimiento.direccion.municipio | default("") }}</td>
                <td>{{reserva.cantidad | default("0")}}</td>
                <td>{{movimiento.usuario.name | default("Sin Asignar")}}</td>
                <td><span class="badge" style="background-color: {{movimiento.estado.color | default("")}};">{{movimiento.estado.nombre | default("")}}</span></td>
                <td>Detalles{{dump(reserva)}}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
