<table class="table table-condensed dataTable">
    <thead>
        <tr>
            <th style="width: 30px">ID</th>
            <th>Entrega</th>
            <th>Inicio</th>
            <th>Ubicación</th>
            <th>Ciudad</th>
            <th>Uds.</th>
            <th>Modelo</th>
            <th>Circuito</th>
            <th>Estado</th>
        </tr>
    </thead>
    <tbody>
        {% for reserva in reservas %}
            <tr class="rowmovimiento" style="background-color: {{reserva.entregaEstado.color | default("")}};">
                <td><a href="{{app.request.getBaseUrl()}}/panel/reserva/{{reserva.id}}">{{reserva.id}}</a></td>
                <td data-order="{{reserva.entregaFecha.timestamp}}">{{reserva.entregaFecha.format("d-m H:i")}}</td>
                <td data-order="{{reserva.fechaInicio.timestamp}}">{{reserva.fechaInicio.format("d-m H:i")}}</td>                
                <td>{{reserva.entregaDireccion.nombre | default(reserva.entregaDireccion.direccion | default(""))}}</td>
                <td>{{reserva.entregaDireccion.municipio | default("") }}</td>
                <td>{{reserva.cantidadReceptores | default("0")}}</td>
                <td>{{reserva.modelo | default("n/a")}}</td>
                <td>{{reserva.circuito | default("n/a")}}</td>
                <td><span class="badge" style="background-color: {{reserva.entregaEstado.color | default("")}};">{{reserva.entregaEstado.nombre | default("")}}</span></td>
            </tr>
        {% endfor %}
    </tbody>
</table>
