<table class="table table-condensed dataTable">
    <thead>
        <tr>
            <th style="width: 30px">ID</th>
            <th>Fecha</th>
            {% if reserva.entrega is defined and tipo == 'entrega' %}
                <th>F. Entrega</th>
            {% elseif reserva.recogida is defined and tipo == 'recogida' %}
                <th>F. Recogida</th>             
            {% endif %}
                {% if cliente is defined and cliente == 'true' %}
                    <td>{{movimiento.cliente}}</td>
                {% endif %}
            
            <th>Ubicación</th>
            <th>Municipio</th>
            <th>Unidades</th>
            <th>Modelo</th>
            <th>Circuito</th>
            <th>Repartidor</th>
            <th>Estado</th>
            <th>Detalles</th>
        </tr>
    </thead>
    <tbody>
        {% for reserva in reservas %}
            {% if reserva.entrega is defined and tipo == 'entrega' %}
                {% set movimiento = reserva.entrega %}
            {% elseif reserva.recogida is defined and tipo == 'recogida' %}
                {% set movimiento = reserva.recogida %}                
            {% endif %}
            {% if movimiento is defined %}
            <tr>
                <td>{{movimiento.id}}</td>
                <td data-order="{{movimiento.fecha.timestamp}}">{{movimiento.fecha.format("d-m-Y")}}</td>
                {% if cliente is defined and cliente == 'true' %}
                    <td>{{movimiento.cliente}}</td>
                {% endif %}
                <td>{{movimiento.direccion.nombre | default(movimiento.direccion.direccion | default(""))}}</td>
                <td>{{movimiento.direccion.municipio | default("") }}</td>
                <td>{{reserva.cantidadReceptores | default("0")}}</td>
                <td>{{reserva.modelo | default("n/a")}}</td>
                <td>{{reserva.circuito | default("n/a")}}</td>
                <td>{{movimiento.usuario.name | default("Sin Asignar")}}</td>
                <td><span class="badge" style="background-color: {{movimiento.estado.color | default("")}};">{{movimiento.estado.nombre | default("")}}</span></td>
                <td><a href="{{app.request.getBaseUrl()}}/panel/movimiento/{{movimiento.id}}">Detalles</a>{#{{dump(reserva)}}#}</td>
            </tr>
            {% endif %}
        {% endfor %}
    </tbody>
</table>
