{% extends 'bootstrap_3_horizontal_layout.html.twig' %}

{#{%- block entity_widget -%}
    <div {{ block('widget_container_attributes') }}>
    {%- for n, child in form %}
        {{- form_widget(child, {
            'entity': form.vars.choices[n].data
        }) -}}
        {{- form_label(child) -}}
    {% endfor -%}
    </div>
{%- endblock -%}

{%- block radio_widget -%}
 You now have access to entity
{%- endblock -%}
#}
{#{% block advanced_entity_widget %}
<div {{ block('widget_container_attributes') }}>
    {{ form_row(form) }}
        <a href=""><i class="fa fa-plus"></i></a>
</div>
{% endblock %}
#}