<ul class="sidebar-menu">
{#    <li><a href="{{ path("admin") }}" class="tablon"><span>Administración</span></a></li>#}
{#    <li><a href="{{ path("admin_usuario") }}" class="tablon"><span>Usuarios</span></a></li>    
    <li><a href="{{app.request.getBaseUrl()}}/panel/reserva/new" class="nueva"><span>Nueva Reserva</span></a></li>    
    <li><a href="{{app.request.getBaseUrl()}}/panel/movimientos/pendientes" class="movimientos"><span>Entregas & Recogidas</span></a></li>
    <li><a href="{{app.request.getBaseUrl()}}/panel/calendario" class="calendario"><span>Calendario</span></a></li>
#}
    <li class="last treeview">
        <a href="#"  class="reservas"><span>Administración</span><i class="fa pull-right fa-angle-left"></i></a>
        <ul class="active treeview-menu menu_level_1">
            <li class="first">
                <a href="#"><i class="fa fa-list"></i>Usuarios</a>
                <ul class="active treeview-menu menu_level_1">
                    <li class="">
                        <a href="{{ path("admin_usuarios") }}"><i class="fa fa-list"></i>Listado</a>
                    </li>                                            
                    <li class="">
                        <a href="{{ path("admin_usuarios_add") }}"><i class="fa fa-user-plus"></i>Agregar usuario</a>
                    </li>                        
                </ul>
            </li>
            <li class="">
                <a href="{{ path("empresas") }}"><i class="fa fa-building"></i>Empresas</a>
            </li>
            <li class="">
                <a href="{{ path("direcciones") }}"><i class="fa fa-address-book"></i>Direcciones</a>
            </li>            
            <li class="last">
                <a href="{{ path("admin_estados") }}"><i class="fa fa-star"></i>Estados</a>
{#                <ul class="active treeview-menu menu_level_1">
                    <li class="">
                        <a href="{{ path("admin_estados") }}"><i class="fa fa-list"></i>Listado</a>
                    </li>                                            
                    <li class="">
                        <a href="{{ path("admin_estados_add") }}"><i class="fa fa-user-plus"></i>Agregar usuario</a>
                    </li>                        
                </ul>
#}            </li>
        </ul>
    </li>
</ul>