<table class="table table-responsive">
    <thead>
        <tr>
            <th>Email</th>
            <th>Nombre</th>
            <th>Roles</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for usuario in usuarios %}
            <tr>
                <td>{{usuario.email}}</td>
                <td>{{usuario.username}}</td>
                <td>
                {% for role in usuario.roles %}
                   <span class="badge-info" tabindex="0" data-toggle="tooltip" title="tooltip">{{ role }}</span>

                {% endfor %}
                </td>
                <td>
                    <a href="{{ path("admin_usuarios_editar", {'usuario':usuario.id} ) }}"><i class="fa fa-edit"></i></a>
                    &nbsp;|&nbsp;
                    <a href="{{ path("admin_usuarios_borrar", {'usuario':usuario.id} ) }}"><i class="fa fa-trash"></i></a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>