{% extends "@App/panel.html.twig" %}

{% block main %}
    <div class="box box-azul box-solid">
        <div class="box-header">
            <h3 class="box-title">Gastos</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
            </div>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <div id="costeProveedor" style="height: 300px; width: 33%; float:left;"></div>
            <div id="costeCategoria" style="height: 300px; width: 33%; float:left;"></div>
            <div id="costeSeccion" style="height: 300px; width: 33%; float:left;"></div>
        </div>
        <!-- /.box-body -->
    </div>

{% endblock main %}

{% block javascripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/canvasjs/1.7.0/canvasjs.min.js" integrity="sha256-CIc5A981wu9+q+hmFYYySmOvsA3IsoX+apaYlL0j6fg=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/canvasjs/1.7.0/jquery.canvasjs.min.js" integrity="sha256-GttF4tDDC6ptOpI7MFp8bTO4jzIJFlniieDMuXA3n5Y=" crossorigin="anonymous"></script>
    <script>
        window.onload = function () {

        var chart = new CanvasJS.Chart("costeProveedor", {
        exportEnabled: true,
                animationEnabled: true,
                title: {
                text: "Costes por Proveedor"
                },
                legend: {
                cursor: "pointer",
                        itemclick: explodePie
                },
                data: [{
                type: "pie",
                        showInLegend: false,
                        toolTipContent: "{name}: <strong>{base}€</strong>",
                        indexLabel: "{name} - {base}€",
                        dataPoints: [
        {% for coste in costeProveedor %}
                            {y:{{coste.base|number_format(0, '.', '')}}, name: "{{coste.0.emisor}}", base: '{{coste.base|number_format(2, ',', '.')}}'},
        {% endfor %}
                            ]
                    }]
            });
            chart.render();
            var chart2 = new CanvasJS.Chart("costeCategoria", {
            exportEnabled: true,
                    animationEnabled: true,
                    title: {
                    text: "Costes por Categoria"
                    },
                    legend: {
                    cursor: "pointer",
                            itemclick: explodePie
                    },
                    data: [{
                    type: "pie",
                            showInLegend: false,
                            toolTipContent: "{name}: <strong>{base}€</strong>",
                            indexLabel: "{name} - {base}€",
                            dataPoints: [
        {% for coste in costeCategoria %}
                            {y:{{coste.base|number_format(0, '.', '')}}, name: "{{coste.0.categoria}}", base: '{{coste.base|number_format(2, ',', '.')}}'},
        {% endfor %}
                            ]
                    }]
            });
            chart2.render();
            var chart3 = new CanvasJS.Chart("costeSeccion", {
            exportEnabled: true,
                    animationEnabled: true,
                    title: {
                    text: "Costes por Sección"
                    },
                    legend: {
                    cursor: "pointer",
                            itemclick: explodePie
                    },
                    data: [{
                    type: "pie",
                            showInLegend: false,
                            toolTipContent: "{name}: <strong>{base}€</strong>",
                            indexLabel: "{name} - {base}€",
                            dataPoints: [
        {% for name,base in costeMain %}
                            {y:{{base|number_format(0, '.', '')}}, name: "{{name}}", base: '{{base|number_format(2, ',', '.')}}'},
        {% endfor %}
                            ]
                    }]
            });
            chart3.render();
            }

            function explodePie(e) {
            if (typeof (e.dataSeries.dataPoints[e.dataPointIndex].exploded) === "undefined" || !e.dataSeries.dataPoints[e.dataPointIndex].exploded) {
            e.dataSeries.dataPoints[e.dataPointIndex].exploded = true;
            } else {
            e.dataSeries.dataPoints[e.dataPointIndex].exploded = false;
            }
            e.chart.render();
            }
    </script>
{% endblock javascripts %}
