{% extends "@Admin/Email/Email.html.twig" %}
{% block titulo %}Informe de reservas de Julia Tours{% endblock titulo %}
{% block body %}
<h1>Informe de reservas de Julia Tours</h1>
<table class="table table-responsive">
    <thead>
        <tr>
            <th>ID</th>
            <th>Inicio</th>
            <th>Fin</th>
            <th>D.</th>
            <th>Uds.</th>
            <th>Total</th>
        </tr>
    </thead>
    <tbody>
        {% set total = 0 %}
        {% for reserva in reservas %}
            {% set difference = date(reserva.fechaFin).diff(date(reserva.fechaInicio)) %}
            <tr>
                <td><a href="{{ url("reserva_show",{"reserva":reserva.id})}}">{{ reserva.id }}</td>
                <td>{{ reserva.fechaInicio.format("d-m") }}</td>
                <td>{{ reserva.fechaFin.format("d-m") }}</td>
                <td>{{ difference.days }}</td>
                <td>{{ reserva.cantidadReceptores }}</td>
                <td>{{reserva.total|number_format(2, '.', ',')}} €</td>
                {% set total = total + reserva.total %}
            </tr>
        {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <th></th>            
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th>{{ total|number_format(2, '.', ',') }} €</th>
        </tr>
    </tfoot>
</table>
{% endblock body %}