{% extends 'admin/standard_layout.html.twig' %}

{% block sonata_admin_content %}
<div class="box box-azul box-solid">
    <div class="box-header">
        <h3 class="box-title">Listado Facturas</h3>
          <div class="box-tools pull-right">
              <span data-toggle="tooltip" title="" class="badge" data-original-title="3 Entregas pendientes" style="font-size: 1.2em">{{facturas| length}}</span>
              <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
              </button>
            </div>
      </div>
      <!-- /.box-header -->
    <div class="box-body">
    <table class="table table-condensed dataTable">
        <tr>
            <th>Nº Factura</th>
            <th>Fecha</th>
            <th>Cliente</th>
            <th>Estado</th>
            <th>Total</th>
            <th></th>
            <th></th>
        </tr>
    {% for factura in facturas %}
        <tr>
            <td><a href="{{ path('factura_show', { 'id': factura.id }) }}">{{ factura.id }}</a></td>
            <td>{{factura.fechaEmision.format('d-m-Y H:i:s')}}</td>
            <td>{{factura.receptor | default("")}}</td>
            <td>{{factura.estado}}</td>
            <td>{{factura.total | default("NA")}}</td>
            <td><a href="{{ path('factura_show', { 'id': factura.id }) }}">show</a></td>
            <td><a href="{{ path('factura_edit', { 'id': factura.id }) }}">edit</a></td>
        </tr>
    {% endfor %}
    </table>
    </div>
<!-- /.box-body -->
</div>
    {#    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Create" />
    {{ form_end(form) }}
#}
{#    <ul>
        <li>
            <a href="{{ path('factura_index') }}">Back to the list</a>
        </li>
    </ul>
#}{% endblock sonata_admin_content %}