{% extends 'AppBundle:Default:layout-pdf.html.twig' %}

{%set empresa = factura.receptor %}

{% block datos %}
              <div class="row-fluid">
                  <div class="col-md-6" style="font-size:1.2em">
                      <b>Factura Núm:</b><br>
                      <b>Fecha: </b>
                  </div>
                  <div class="col-md-3" style="text-align: right; font-size:1.2em">
                      F-{{factura.fechaEmision.format('Y')}}{{"%03d"|format(factura.numero)}}<br>
                      {{factura.fechaEmision.format("d/m/Y")}}
                  </div>                      
              </div>
    
{% endblock datos %}

{% block direccion %}
    <img src="{{ absolute_url(asset('imagenes/direccion_B.png')) }}" width="100%"/>
{% endblock direccion %}


{% block pagina %}
        <div class="row pdffactura">
{#            <div class="col-md-12">
<table class="table tablepdf">
            <thead>
              <tr>
                <th>Tipo</th>
                <th>Referencia</th>
                <th>Fecha Inicio</th>
                <th>Fecha Fin</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>FACTURA</td>
                <td>{{reserva.circuito}}</td>
                <td>{{reserva.fechaInicio.format("d-m-Y")}}</td>
                <td>{{reserva.fechaFin.format("d-m-Y")}}</td>
              </tr>
            </tbody>
          </table>
    <table class="table tablepdf">
            <thead>
              <tr>
                <th>Fecha Entrega</th>
                <th>Lugar Entrega</th>
                <th>Fecha Recogida</th>
                <th>Lugar Recogida</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>{{reserva.entregaFecha.format("d-m-Y") | default("Sin determinar")}}</td>
                <td>{{reserva.entregaDireccion | default("Sin determinar")}}</td>
                <td>{{reserva.recogidaFecha.format("d-m-Y") | default("Sin determinar")}}</td>
                <td>{{reserva.recogidaDireccion | default("Sin determinar")}}</td>
              </tr>
            </tbody>
          </table>
              
            </div>#}

        </div>
        <div class="row pdffactura">
            <div class="col-md-12">
              <h2>Detalles</h2>
    <table class="table tablepdfdetalles">
            <thead>
              <tr>
                <th style="width: 25px">ID</th>
                <th style="width: 280px">Referencia</th>
                <th style="width: 70px">Inicio</th>
                <th style="width: 70px">Fin</th>
                <th>Dias</th>
                <th>Disp</th>
                <th>Precio</th>
                <th>Transp</th>
                <th>Subtotal</th>
              </tr>
            </thead>
            <tbody>
                {% for pedido in factura.pedido %}
              <tr>
                <td style="text-align:center">{{pedido.id}}</td>
                <td>{{pedido.circuito}}</td>
                <td>{{pedido.fechaInicio.format("d-m-y")}}</td>
                <td>{{pedido.fechaFin.format("d-m-y")}}</td>
                <td style="text-align:center">{{pedido.numDias}}</td>
                <td style="text-align:center">{{pedido.cantidadReceptores}}</td>
                <td>{{pedido.precio|number_format(2, '.', ',')}} €</td>
                <td>{{pedido.precioTransporte|number_format(2, '.', ',')}} €</td>
                <td>{{(pedido.totalBruto)|number_format(2, '.', ',')}} €</td>
              </tr>
              {% endfor %}
              <tr>
                <td></td>                  
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>                
                <td></td>
                <td></td>                
                <td></td>
              </tr>              
            </tbody>
          </table>
          
    <table class="table tablepdf textright">
            <thead>
              <tr>
                <th></th>
                <th colrow="3">Subtotal</th>
                {% if factura.pedido.0.precioImpuestos > 0 %}
                <th>IVA {{factura.pedido.0.precioImpuestos}}%</th>
                {% endif %}
                <th>Total</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                  <td></td>
                <td>{{(factura.totalBruto)|number_format(2, '.', ',')}} €</td>
                
                {% if factura.pedido.0.precioImpuestos > 0 %}
                    <td>{{((factura.totalBruto/100)*factura.pedido.0.precioImpuestos)|number_format(2, '.', ',')}} €</td>
                {% endif %}
                <td><b style="color:black">{{factura.total|number_format(2, '.', ',')}} €</b></td>
                <td></td>
              </tr>
            </tbody>
    </table>
            </div>
        </div>
    <div class="row pdffactura" style="margin-top: 80px">
        <div class="col-md-11" style="text-align:right">
            <h3>Datos Bancarios / Bank details</h3>
            <p>
                <b>SWIFT:</b> POPUESMM<br>
                <b>IBAN:</b> ES16-0075-3304-800600051584
            </p>
        </div>
    </div>
                
{% endblock %}

{% block footer %}
    <footer class="footer" style="background-image: url({{absolute_url(asset('imagenes/faldon_B.png'))}})">
        {{parent()}}
    </footer>    
{% endblock footer %}
