{% extends 'AppBundle::panel.html.twig' %}

{% block title %}Gasto-Detalle{% endblock title %}

{% block breadcrumb %}{% endblock breadcrumb %}

{% block main %}
    <div class="row">
        <div class="col-md-6">

            <div class="box box-azul box-solid">
                <div class="box-header icocalendario">
                    <h3 class="box-title">Fechas</h3>
                    <div class="box-tools pull-right">
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <p><b>Fecha Emisión:</b>{{ factura.fechaEmision.format("d/m/Y") }}</p>
                    <p><b>Fecha Vencimiento:</b>{{ factura.fechaVencimiento.format("d/m/Y")|default("") }}</p>
                    <p><b>Fecha Pago:</b>{{ factura.fechaPago.format("d/m/Y")|default("") }}</p>
                    <p><b>Fecha Alta:</b>{{ factura.fechaCreacion.format("d/m/Y H:i") }}</p>


                </div>
                <!-- /.box-body -->
            </div>
            <div class="box box-marron box-solid">
                <div class="box-header icocliente">
                    <h3 class="box-title">Proveedor</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    {{ factura.emisor }}
                </div>
                <!-- /.box-body -->
            </div>
            <div class="box box-default box-solid">
                <div class="box-header icoeconomico">
                    <h3 class="box-title">Detalle</h3>
                    <div class="box-tools pull-right">
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <p><b>Categoría:</b>{{ factura.categoria }}</p>
                    <table class="table table-responsive table-verde">
                        <tr>
                            <th>Base</th>
                            <th>Impuestos</th>
                            <th>Total</th>
                        </tr>
                        <tr>
                            <td>{{ factura.base|number_format(2, '.', ',') }}€</td>
                            <td>{{ factura.totalimpuestos|number_format(2, '.', ',') }}€ <small>({{ factura.impuestos }}%)</small></td>
                            <td>{{ factura.total|number_format(2, '.', ',') }}€</td>
                        </tr>
                    </table>

                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="box box-azul box-solid">
                <div class="box-header">
                    <h3 class="box-title">Ficheros</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    </div>
                </div>
                <div class="box-body caja" id="tab_peticion">
                    <ul>
                        {% for file in factura.ficheros %}
                            <li><a href='/uploads/{{file.path}}' target='_blank'>{{file.nombre}}</a></li>
                            {% endfor %}
                    </ul>
                    <a href="#" class="btn btn-default" onclick="UploadFile('{{factura.id}}')"><i class="fa fa-upload"></i></a>
                    <input type="file" style="display: none" id="ficheroAdd" multiple="true"/>

                </div>
            </div>

            <div class="box box-azul box-solid">
                <div class="box-header">
                    <h3 class="box-title">Notas</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    </div>
                </div>
                <div class="box-body caja" id="tab_notas">
                    <form method="post" action="{{ path("factura_recibida_view",{'factura':factura.id})}}">
                        <textarea name="notas" style="width:100%; height:200px;">{{factura.notas|default("")}}</textarea>
                        <input type="submit" value="Guardar" class="btn btn-success"/>
                    </form>
                </div>
            </div>

        </div>

    </div>


</form>


{% endblock main %}

{% block javascripts %}
    <script>
        function UploadFile(idfactura) {
            var input = $("#ficheroAdd");
            input.attr("idfactura", idfactura);
            input.unbind('change');
            input.bind('change', function (event) {
                // Create a formdata object and add the files
                var data = new FormData();
                $.each(event.target.files, function (key, value)
                {
                    data.append(key, value);
                });

                $.ajax({
                    url: '/facturacion/recibidas/' + idfactura + '/upFile',
                    type: 'POST',
                    data: data,
                    cache: false,
                    dataType: 'json',
                    processData: false, // Don't process the files
                    contentType: false, // Set content type to false as jQuery will tell the server its a query string request
                    success: function (data, textStatus, jqXHR)
                    {
                        if (typeof data.error === 'undefined')
                        {
                            window.location.reload();
                        } else
                        {
                            // Handle errors here
                            console.log('ERRORS: ' + data.error);
                        }
                    },
                    error: function (jqXHR, textStatus, errorThrown)
                    {
                        // Handle errors here
                        console.log('ERRORS: ' + textStatus);
                        // STOP LOADING SPINNER
                    }
                });
            })
            input.click();
        }

    </script>
{% endblock javascripts %}