{% extends "@App/panel.html.twig" %}

{% block main %}
 {#<h1>{{direccion|default('Nueva direccion')}}</h1>#}
{{ form_start(form) }}
 {#{{ form_widget(form) }}#}

    <div class="row">
        <div class="col-md-3">
            <div class="box box-azul box-solid box-text">{# collapsed-box #}
                <div class="box-header">
                    <h3 class="box-title">General</h3>
                    <div class="box-tools pull-right">
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    {{ form_row(form.nombre) }}
                    {{ form_row(form.direccion) }}
                    {{ form_row(form.municipio) }}
                    {{ form_row(form.provincia) }}
                    {{ form_row(form.pais) }}
                    {{ form_row(form.adicional) }}
                    {{ form_row(form.cp) }}
                    {{ form_row(form.lat) }}
                    {{ form_row(form.lon) }}
                   
                            <input type="submit" value="Guardar" class="btn btn-success"/>


                </div>
                <!-- /.box-body -->
            </div>
        </div>
    
    {{ form_end(form) }}        
    
    
{% endblock main %}




