{% extends 'base.html.twig' %}

{% block body %}
    <h1>Direccion list</h1>

    <table>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Direccion</th>
                <th>Cp</th>
                <th>Municipio</th>
                <th>Provincia</th>
                <th>Pais</th>
                <th>Adicional</th>
                <th>Lat</th>
                <th>Lon</th>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for direccion in direccions %}
            <tr>
                <td><a href="{{ path('direcciones_show', { 'id': direccion.id }) }}">{{ direccion.nombre }}</a></td>
                <td >{{ direccion.direccion }}</td>
                <td>{{ direccion.cp }}</td>
                <td>{{ direccion.municipio }}</td>
                <td>{{ direccion.provincia }}</td>
                <td>{{ direccion.pais }}</td>
                <td>{{ direccion.adicional }}</td>
                <td>{{ direccion.lat }}</td>
                <td>{{ direccion.lon }}</td>
                <td>{{ direccion.id }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('direcciones_show', { 'id': direccion.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('direcciones_edit', { 'id': direccion.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('direcciones_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
