{% extends "@App/panel.html.twig" %}

{% block main %}
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="box box-azul box-solid">{# collapsed-box #}
                <div class="box-header">
                    <h3 class="box-title">Listado direcciones empresas</h3>
                    <div class="box-tools pull-right">
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table class="table table-responsive dataTable">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Direccion</th>
                <th>Cp</th>
                <th>Municipio</th>
                <th>Provincia</th>
                <th>Pais</th>
                <th>Adicional</th>
                <th>Lat</th>
                <th>Lon</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for direccion in direcciones %}
            <tr>
                <td><a href="{{ path('direcciones_edit', { 'direccion': direccion.id }) }}">{{ direccion.nombre|default(direccion) }}</a></td>
                <td>{{ direccion.direccion }}</td>
                <td>{{ direccion.cp }}</td>
                <td>{{ direccion.municipio }}</td>
                <td>{{ direccion.provincia }}</td>
                <td>{{ direccion.pais }}</td>
                <td>{{ direccion.adicional }}</td>
                <td>{{ direccion.lat }}</td>
                <td>{{ direccion.lon }}</td>
                <td><a href="{{ path('direcciones_edit', { 'direccion': direccion.id }) }}">Editar</a></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
                </div>
                <!-- /.box-body -->
                <div class="box-footer">
                    <a href="{{ path('direccion_new') }}" class="btn boton">Nueva Dirección</a>
                </div>
                
            </div>
        </div>
    </div>
    
{% endblock main %}

{% block javascripts %}
    {{parent()}}
    <script>
        $(function () {
            $('.dataTable').DataTable({
                "ordering": true,
                "order": [[0, 'asc']],
            });
        });
    </script>
{% endblock javascripts %}
