{% extends "@App/panel.html.twig" %}

{% block main %}
        <h1>{{direccion}}</h1>    
    <div class="row">
        <div class="col-md-3">
            <div class="box box-azul box-solid box-text">{# collapsed-box #}
                <div class="box-header">
                    <h3 class="box-title">General</h3>
                    <div class="box-tools pull-right">
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <b>Nombre:</b> {{ direccion.nombre }} <br/>
                    <b>Direccion:</b> {{ direccion.direccion }} <br/>
                    <b>CP:</b> {{ direccion.cp }} <br/>
                    <b>Municipio:</b> {{ direccion.municipio }} <br/>
                    <b>Provincia:</b> {{direccion.provincia}}  <br/>
                    <b>Pais:</b> {{direccion.pais}}  <br/>
                    <b>Lat:</b> {{direccion.lat}}  <br/>
                    <b>Lon:</b> {{direccion.lon}}  <br/>    
                    <b>Id:</b> {{direccion.id}}  <br/>
                </div>
                <div class="box-footer">
                  
                    <a href="{{ path("direcciones_edit",{"direccion":direccion.id})}}" class="btn btn-action">Editar</a>
                </div>
                
                <!-- /.box-body -->
            </div>
        </div>
       

        
          
      
                
    </div>
    
{% endblock main %}