{% extends "@App/panel.html.twig" %}
{% block main %}


<div class="row">
 <div class="col-md-13">
         <div class="box box-azul box-solid box-text">{# collapsed-box #}
            <div class="box-header">
                <h3 class="box-title">Facturas emitidas</h3>

         
            </div>
            <!-- /.box-header -->
 <div class="box-body no-padding">


        
<table  class="table table-condensed dataTable">


    <thead>
        <tr>
            <th style="width: 40px">ID</th>
            <th style="width: 40px">Proveedor</th>
            <th style="width: 40px">Fecha</th>
            <th style="width: 40px">Nro Factura</th>
          
        </tr>
    </thead>
        {% set facturastotalBruto = 0 %}
        {% set facturastotal = 0 %}
        {% set facturasImpuestos = 0 %}
    <tbody>
       
       
       
        {% for DetalleConcepto in DetalleConcepto %}
            <tr  style="page-break-inside: avoid;">
                
                <td>{{DetalleConcepto.id | default()}}</td>
                <td>{{DetalleConcepto.concepto}}</td>
                <td>{{DetalleConcepto.cantidad}}</td>
                <td>{{DetalleConcepto.precio}}</td>
             
      

        

   

          


            </tr>
        {% endfor %}    
    </tbody>

    
  

</table>
      
      
              
              </div>
        </div>
    </div>


           
            </div>
            <!-- /.box-body -->
          </div>
        </div>
    </div>


           <!-- JAVASCRIPT PARA MEJORAR LA BUSQUEDA -->    
    {{parent()}}
    <script>
        $(function () {
            $('.dataTable').DataTable({
                "ordering": true,
                "order": [[0, 'asc']],
            });
        });
    </script>     


{% endblock main %}