{% extends 'AppBundle::panel.html.twig' %}

{% block title %}{% endblock title %}

{% block breadcrumb %}{% endblock breadcrumb %}

{% block main %}
    {{ form_start(form) }}

        <div class="row">
            <div class="col-md-12">
                <div class="box box-azul box-solid">
                    <div class="box-header">
                         <h3 class="box-title">Gastos</h3>
                                                        
                    </div>
                    <!-- /.box-header -->         
                    <div class="box-body caja"> 
                  {{ form_row(form.cantidad) }}
                  
                       {{ form_row(form.concepto) }}
                       {{ form_row(form.concepto) }}
                      {{ form_row(form.precio) }}
                    {{ form_widget(form.detalle) }}
                   

                                       <input class ="btn btn-info boton" type="submit" value="Guardar" />

                </div>
            </div>

            <div class="col-md-8 row">

            </div>
        </div>
          
         
{{ form_end(form) }}
{{ form_start(form) }}

    
          
         
{{ form_end(form) }}



{% endblock %}

{% block javascripts %}
    {{parent()}}
        <script src=" {{asset('bundles/app/js/new.js')}} "></script>
{% endblock javascripts %}
