{% extends "@App/panel.html.twig" %}
{% block main %}


<div class="row">
 <div class="col-md-13">
         <div class="box box-azul box-solid box-text">{# collapsed-box #}
            <div class="box-header">
                <h3 class="box-title">Facturas emitidas</h3>

         
            </div>
            <!-- /.box-header -->
 <div class="box-body no-padding">


        
<table class="table table-condensed dataTable">


    <thead>
        <tr>
            <th style="width: 40px">ID</th>
            <th>Proveedor</th>
            <th>Fecha</th>
            <th>Nro Factura</th>
            <th>Descuento</th>
            <th>Base</th>
            <th>IVA</th>
            <th>Total</th>
            <th>Ver Detalles Factura</th>
        </tr>
    </thead>
        {% set facturastotalBruto = 0 %}
        {% set facturastotal = 0 %}
        {% set facturasImpuestos = 0 %}
    <tbody>
       
        {% for concepto in concepto %}
            <tr  style="page-break-inside: avoid;">
                
                <td>{{concepto.id | default("")}}</td>
               <td>{{concepto.empresa | default("")}}</td>
                <td>{{concepto.fecha.format('d-m-Y')}}</td>
                <td>{{concepto.NroFactura | default("")}}</td>
                <td>{{concepto.Descuento | number_format(2, '.', ',') }}€</td>
                <td>{{concepto.base | number_format(2, '.', ',') }}€</td>
                <td>{{concepto.IVA |number_format(0)}}%</td>
                <td>{{concepto.Total |number_format(2, '.', ',') }}€</td>


                    <td> <a href="{{ path('listado_show', {"id": concepto.id}) }}">Ver</a></td>

            </tr>
        {% endfor %}    
    </tbody>

    
  <tfoot>
            <tr>
                <th>Totales</th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                
            </tr>
        </tfoot>
 <tr>
                  <div class="box-footer">
        <form method="GET" action="{{ path("concepto_show") }}" >
        <table class="table table-condensed">
            <tr>
                <td>Filtros:</td>
                <td>
        <select name="trimestre">
            <option value="">Todos</option>
            <option value="1T"{% if filtro.trimestre == "1T" %}selected="selected"{% endif %}>1T</option>
            <option value="2T"{% if filtro.trimestre == "2T" %}selected="selected"{% endif %}>2T</option>
            <option value="3T"{% if filtro.trimestre == "3T" %}selected="selected"{% endif %}>3T</option>
            <option value="4T"{% if filtro.trimestre == "4T" %}selected="selected"{% endif %}>4T</option>
        </select>
                </td>
                <td>
        <select name="ano">
            <option value="">Todos</option>
            <option value="2016"{% if filtro.ano == "2016" %}selected="selected"{% endif %}>2016</option>
            <option value="2017"{% if filtro.ano == "2017" %}selected="selected"{% endif %}>2017</option>
            <option value="2018"{% if filtro.ano == "2018" %}selected="selected"{% endif %}>2018</option>
        </select>                    
                </td>
                            <td>
        <select name="cliente" class="select2">
            <option value="">Todos</option>
            {% for empresa in empresas %}
                <option value="{{empresa.id}}"{% if filtro.empresa.id|default(null) == empresa.id %}selected="selected"{% endif %}>{{empresa}}</option>
            {% endfor %}
        </select>
           </td>
           <td>         
        <input type="submit" value="Filtrar" class="boton"/>
</td>
    </tr>                


      



</table>
              </form>

      
              
              
        
            </div>
            <!-- /.box-body -->
          </div>
     {#    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Create" />
    {{ form_end(form) }}
#}

{% endblock main %}
  
  
  {% block javascripts %}
    {{parent()}}
    <script>
        $(function () {
            $('.dataTable').DataTable({
                "paging": true,
                "bPaginate": false,
{#                "lengthChange": false,#}
{#                "searching": false,#}
                "ordering": true,
                "order": [[0, 'asc']],
{#                "info": false,#}
                "autoWidth": false,
{#                drawCallback: function () {
                  var api = this.api();
                  $( api.table().footer() ).html(
                    api.column( 5  , {page:'current'} ).data().sum()
                  );
                }
#}                 
        "footerCallback": function ( row, data, start, end, display ) {
            var api = this.api(), data;
            
            base_total = api.column( 4 ).data().sum();
            base_page = api.column( 4, { page: 'current'} ).data().sum();
            $( api.column(4).footer() ).html(base_page +'€<br/>'+ base_total +'€');
            
              base = api.column( 5 ).data().sum();
            base = api.column( 5, { page: 'current'} ).data().sum();
            $( api.column(5).footer() ).html(base +'€<br/>'+ base +'€');

            total = api.column( 7 ).data().sum();
            page = api.column( 7, { page: 'current'} ).data().sum();
            $( api.column(7).footer() ).html(page +'€<br/>'+ total +'€');
        }
            
            });
        });
    </script>
{% endblock javascripts %}