{% extends '@App/panel.html.twig' %}

{% block title %}Dashboard{% endblock title %}

{% block breadcrumb %}{% endblock breadcrumb %}

{% block main %}
    <div class="row">
        <div class="col-md-6">
            <div class="box box-azul box-solid">{# collapsed-box #}
                <div class="box-header">
                    <h3 class="box-title">Reservas del día</h3>
                    <div class="box-tools pull-right">
                        <span data-toggle="tooltip" title="" class="badge" data-original-title="{{diarias|length}} Entregas pendientes" style="font-size: 1.2em">{{diarias|length}}</span>
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    {% include 'AppBundle:Modulos:Reservas.html.twig' with { 'reservas' : diarias, 'tipo': 'cliente' } %}
                </div>
                <!-- /.box-body -->
            </div>
        </div>
        <div class="col-md-6">
            <div class="box box-marron box-solid">
                <div class="box-header">
                    <h3 class="box-title">Próximas reservas</h3>
                    <div class="box-tools pull-right">
                        <span data-toggle="tooltip" title="" class="badge" data-original-title="{{proximas|length}} Recogidas pendientes" style="font-size: 1.2em">{{proximas|length}}</span>
                    </div>

                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    {% include 'AppBundle:Modulos:Reservas.html.twig' with { 'reservas' : proximas, 'tipo': 'cliente' } %}
                </div>
                <!-- /.box-body -->
            </div>
        </div>  

    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="box box-default box-solid">
                <div class="box-header">
                    <h3 class="box-title">Reservas Activas</h3>
                    <div class="box-tools pull-right">
                        <span data-toggle="tooltip" title="" class="badge" data-original-title="{{activas|length}} Recogidas pendientes" style="font-size: 1.2em">{{activas|length}}</span>
                    </div>

                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    {% include 'AppBundle:Modulos:Reservas.html.twig' with { 'reservas' : activas, 'tipo': 'cliente' } %}
                </div>
                <!-- /.box-body -->
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="box box-verde box-solid">
                <div class="box-header">
                    <h3 class="box-title">Presupuestos</h3>
                    <div class="box-tools pull-right">
                        <span data-toggle="tooltip" title="" class="badge" data-original-title="{{presupuestos|length}} Recogidas pendientes" style="font-size: 1.2em">{{activas|length}}</span>
                    </div>

                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    {% include 'AppBundle:Modulos:Reservas.html.twig' with { 'reservas' : presupuestos } %}
                </div>
                <!-- /.box-body -->
            </div>
        </div>

    </div>
                
</div>
{% endblock main %}

{% block javascripts %}
    {{parent()}}
    <script src="{{app.request.getBasePath()}}/assets/datatables/jquery.dataTables.min.js"></script>
    <script src="{{app.request.getBasePath()}}/assets/datatables/dataTables.bootstrap.min.js"></script>
    <script>
        $(function () {
            $('.dataTable').DataTable({
                "paging": false,
                "bPaginate": false,
                "lengthChange": false,
                "searching": false,
                "ordering": true,
                "order": [[1, 'asc']],
                "info": false,
                "autoWidth": false
            });
        });
    </script>
{% endblock javascripts %}
