{% extends 'admin/standard_layout.html.twig' %}
{% block title %}Calendario{% endblock title %}

{% block sonata_admin_content %}
    <div class="row">
        <div class="col-md-12">
            <div id='calendar'></div>
        </div>
    </div>
    <script>
        $(document).ready(function () {

		$('#calendar').fullCalendar({
			//now: '2016-08-29',
                        schedulerLicenseKey: 'CC-Attribution-NonCommercial-NoDerivatives',
			editable: false,
			aspectRatio: 1,
                        lang: 'es',
			//scrollTime: '00:00',
			header: {
				left: 'today prev,next',
				center: 'title',
				right: 'timelineWeek,timeline15Day,timelineMonth,timelineYear'
			},
			defaultView: 'timelineMonth',
			views: {
				timelineWeek: {
					type: 'timeline',
					duration: { days: 10 },                                    
					buttonText: 'Week',
					slotDuration: '24:00'
				},
				timeline15Day: {
					type: 'timeline',
					duration: { days: 15 },
                                        slotDuration: '24:00'
				}
			},
			resourceAreaWidth: '20%',
			resourceLabelText: 'Reservas',
                        resourceColumns: [
				{
					labelText: 'ID',
					field: 'title',
                                        width: '30px'
				},
				{
					labelText: 'Circuito',
					field: 'circuito'
				},                                
				{
					labelText: 'Inicio',
					field: 'finicio',
                                        width: '80px'
				},
				{
					labelText: 'Final',
					field: 'ffin',
                                        width: '80px'
				}
                                
			],                        
			resources: [
                                {% for reserva in reservas %}
                                {
                                    id: {{reserva.id}},
                                    title: '{{reserva.id}}',
                                    circuito: '{{reserva.circuito}}',
                                    finicio: '{{reserva.fechaInicio.format("d-m-Y")}}',
                                    ffin: '{{reserva.fechaFin.format("d-m-Y")}}',
                                    eventColor: '{{reserva.recogidaEstado.color |default(reserva.estado.color)}}'
                                },
                                {% endfor %}
			],
			events: [
                    {% for reserva in reservas %}
                    {
                        id: '{{reserva.id}}',
                        resourceId: '{{reserva.id}}',
                        title: '{{reserva.cantidadReceptores}}+{{reserva.cantidadReserva}} {{reserva.modelo}}',
                        start: '{{reserva.fechaInicio.format('Y-m-d')}}',
                        end: '{{reserva.fechaFin.format('Y-m-d')}}',
                        url: '{{app.request.baseUrl}}/panel/reserva/{{reserva.id}}',
                    },
                    {% endfor %}
			]
		});

        });

    </script>
    
{% endblock sonata_admin_content %}

{% block stylesheets %}
    {{parent()}}
{#    <link rel="stylesheet" href="{{app.request.getBasePath()}}/assets/fullcalendar-master/src/main.css" />
#}    
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.9.1/fullcalendar.min.css" />
    <link rel="stylesheet" href="{{app.request.getBasePath()}}/assets/fullcalendar/scheduler.min.css" />
{#    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.9.1/fullcalendar.print.css" media="print"/>
#}
{% endblock stylesheets %}


{% block javascripts %}
    {{parent()}}
{#    <script src="{{app.request.getBasePath()}}/assets/fullcalendar-master/src/defaults.js"></script>
    <script src="{{app.request.getBasePath()}}/assets/fullcalendar-master/src/Header.js"></script>
    <script src="{{app.request.getBasePath()}}/assets/fullcalendar-master/src/Calendar.js"></script>
    <script src="{{app.request.getBasePath()}}/assets/fullcalendar-master/src/Calendar.options.js"></script>
#}    
    <script src="{{app.request.getBasePath()}}/assets/fullcalendar/moment.min.js"></script>
    <script src="{{app.request.getBasePath()}}/assets/fullcalendar/fullcalendar.js"></script>
    <script src="{{app.request.getBasePath()}}/assets/fullcalendar/scheduler.js"></script>
    <script src="{{app.request.getBasePath()}}/assets/fullcalendar/lang-all.js"></script>
    
{#    <script src="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.9.1/fullcalendar.min.js"></script>#}
{% endblock javascripts %}

