<!DOCTYPE html>
    <html>
        <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{% block title %}RGSpain{% endblock %}</title>
        {% block stylesheets %}
            <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" type="text/css">
            <link href="{{ absolute_url(asset('css/pdf.css')) }}" rel="stylesheet" type="text/css">
        {% endblock %}
        <style>
html {
  position: relative;
  min-height: 100%;
}
.container{
    width: 800px;
}
        </style>
        </head>
        <body>
    <div class="container" role="main">
      <div class="page-header">
        <div class="row">
          <div class="col-xs-6" style="padding-top:80px">
            {% block datos %}
            {% endblock datos %}
              
              <div class="row-fluid" style="padding-top:80px">
                  <div class="col-md-12">
                    <h1>{{empresa.sociedad | default("")}}</h1>
                    <h1>{{empresa.cif | default("")}}</h1>
                    <p>
                        {{empresa.dirFacturacion.direccion | default("")}}<br>
                        {{empresa.dirFacturacion.municipio | default("")}} ({{empresa.dirFacturacion.nProvincia | default("")}})<br>
                        {{empresa.dirFacturacion.nPais | default("")}}
                    </p>
                  </div>
              </div>
          </div>
        <div class="col-xs-6" style="text-align:right; padding:0; margin:0;">
            {% block direccion %}
              <img src="{{ absolute_url(asset('imagenes/direccion_A.png')) }}" width="100%"/>
              {% endblock direccion %}
{#              <h3>RGSpain Audifonos S.M</h3>
              <p>
                  Crta. Sin fin Km 66,6<br>
                  Pobla desconocida (Allí arriba)<br>
                  Españistan
              </p>
#}        </div>            
        </div>
      </div>
        <div class="container">
            {% block pagina %}
                <div class="row">
                  <div class="col-md-6">
                  </div>
                </div>
            {% endblock %}
        </div>
    </div>
            <div class="container-fluid" style="margin-right:-30px;bottom:0">
{% block footer %}
    <div class="container">
      <div class="row-fluid">
          <div class="col-xs-8 col-xs-offset-2">
              <h4>Condiciones generales del alquiler y politica de cancelación </h4>
              <p>
                  A partir del momento de la entrega, las radio guías son responsabilidad del cliente. La pérdida o desperfectos de los aparatos  tendrá un recargo en la factura de 85’00€ + IVA 21%, en concepto del reembolso del material perdido.
              </p>
              <p>
                  En caso de anular el servicio, aún por condiciones meteorológicas, dentro de las 20 horas y especialmente el mimso día, los gastos de cancelación serán del 100%.
              </p>
              <br>
              <p>
RG SPORT DIVISION, S.L CIF: B-84868785.<br />
Avenida Pintor Antonio López, 16 1ºB 28320 Pinto (Madrid)<br />
Inscrita en el Registro Mercantil de Madrid, al tomo 23.373, folio 148, hoja número M-419252, inscripción 1ª<br />
              </p>                  
          </div>
      </div>
    </div>
{% endblock footer %}
            </div>
    </body>
</html>