<!DOCTYPE html>
    <html>
        <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{% block title %}RGSpain{% endblock %}</title>
        {% block stylesheets %}
            <link href="{{ absolute_url(asset('assets//bootstrap/css/bootstrap.min.css')) }}" rel="stylesheet" type="text/css">
            <link href="{{ absolute_url(asset('css/pdf.css')) }}" rel="stylesheet" type="text/css">
            
        {% endblock %}
        <style>
html {
  position: relative;
  min-height: 100%;
}
table{
    page-break-inside: avoid;
    tr{
        page-break-inside: avoid;
        td{
            min-width: 100px;
        }
    }
}
        </style>
        </head>
        <body>
    <div class="container theme-showcase" role="main" style="margin:0;padding:0; width:100%">
        <div class="container" style="margin:0;padding:0; width:100%">
            {% block pagina %}
            {% endblock %}
        </div>
    </div>
{% block footer %}
{% endblock footer %}
    </body>
</html>