{% extends '@App/panel.html.twig' %}
{% block title %}{{title|default("Reservas")}}{% endblock title %}
{% block javascripts %}
    {{parent()}}
<script>
  $(function () {
    $('#tb_reservas').DataTable({
      "paging": true,
      "lengthChange": false,
      "searching": false,
      "order": [[1,'asc']],
      "info": true,
      "autoWidth": false,
      "pageLength": 25
    });
  });
</script>

{% endblock javascripts %}

{% block main %}
<div class="row">
 <div class="col-md-12">
            <div class="box box-default box-solid">
            <div class="box-header">
              <h3 class="box-title">{{titulotabla | default("reservas") }}</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body no-padding">
                {% include 'AppBundle:Modulos:Reservas.html.twig' with {'reservas': reservas} %}
            </div>
            <!-- /.box-body -->
          </div>
        </div>
    </div>
{% endblock main %}


