{% set bodyclass = "hold-transition login-page" %}

{% extends 'layout.html.twig' %}

{% block title %}Login{% endblock title %}

{% block body %}
<div class="login-box">
  <div class="login-logo">
    <img src="{{asset('/imagenes/logorgpagina.png') }}" width="100%"/>
  </div>
  <!-- /.login-logo -->
  <div class="login-box-body">
    <p class="login-box-msg">Sign in to start your session</p>

    {% if error|length > 3 %}
        <div class="alert alert-danger">{{error}}</div>
    {% endif %}
                
    {{form_start(form)}}
      <div class="form-group has-feedback">
{#        <input type="email" class="form-control" placeholder="Email">
#}        {{form_widget(form.email)}}
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
{#        <input type="password" class="form-control" placeholder="Password">
#}        {{form_widget(form.password)}}
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
      </div>
      <div class="row">
        <div class="col-xs-8">
          <div class="checkbox icheck">
            <label>
              <input type="checkbox"> Remember Me
            </label>
          </div>
        </div>
        <!-- /.col -->
        <div class="col-xs-4">
          <button type="submit" class="btn btn-primary btn-block btn-flat">Sign In</button>
        </div>
        <!-- /.col -->
      </div>
    {{form_end(form)}}

{#    <div class="social-auth-links text-center">
      <p>- OR -</p>
      <a href="#" class="btn btn-block btn-social btn-facebook btn-flat"><i class="fa fa-facebook"></i> Sign in using
        Facebook</a>
      <a href="#" class="btn btn-block btn-social btn-google btn-flat"><i class="fa fa-google-plus"></i> Sign in using
        Google+</a>
    </div>
    <!-- /.social-auth-links -->
#}
{#    <a href="#">I forgot my password</a><br>
    <a href="register.html" class="text-center">Register a new membership</a>
#}
  </div>
  <!-- /.login-box-body -->
</div>
<!-- /.login-box -->

{% endblock body %}