{% extends 'AppBundle::panel.html.twig' %}
{% block title %}Movimientos{% endblock title %}
{% block main %}
<div class="row">
 <div class="col-md-12">
            <div class="box box-azul box-solid">
            <div class="box-header">
              <h3 class="box-title">Entregas</h3>
                <div class="box-tools pull-right">
                    <span data-toggle="tooltip" title="" class="badge" data-original-title="{{entregas|length}} Entregas pendientes" style="font-size: 1.2em">{{entregas|length}}</span>
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                    </button>
                  </div>              
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                {% include 'AppBundle:Modulos:Movimientos.html.twig' with {'movimientos': entregas, 'tipo':'entrega', 'cliente': 'true'} %}
            </div>
            <!-- /.box-body -->
          </div>
        </div>
<div class="col-md-12">
            <div class="box box-marron box-solid">
            <div class="box-header">
              <h3 class="box-title">Recogidas</h3>
                <div class="box-tools pull-right">
                    <span data-toggle="tooltip" title="" class="badge" data-original-title="{{recogidas|length}} Entregas pendientes" style="font-size: 1.2em">{{recogidas|length}}</span>
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                    </button>
                  </div>
              
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                {% include 'AppBundle:Modulos:Movimientos.html.twig' with {'movimientos': recogidas, 'tipo':'recogida', 'cliente': 'true'} %}
            </div>
            <!-- /.box-body -->
          </div>
        </div>               
    </div>

{% endblock main %}


{% block javascripts %}
    {{parent()}}
    <script src="{{app.request.getBasePath()}}/assets/datatables/jquery.dataTables.min.js"></script>
    <script src="{{app.request.getBasePath()}}/assets/datatables/dataTables.bootstrap.min.js"></script>
<script>
  $(function () {
    $('.dataTable').DataTable({
      "paging": false,
      "lengthChange": false,
      "searching": false,
      "order": [[1,'asc']],
      "info": false,
      "autoWidth": false
    });
  });
</script>

{% endblock javascripts %}
    
