{% extends '@App/panel.html.twig' %}

{% block title %}Dashboard{% endblock title %}

{% block breadcrumb %}{% endblock breadcrumb %}

{% block main %}
    <div class="row">
        <div class="col-md-6">
            <div class="box box-azul box-solid">{# collapsed-box #}
                <div class="box-header">
                    <h3 class="box-title">Entregas Pendientes</h3>
                    <div class="box-tools pull-right">
                        <span data-toggle="tooltip" title="" class="badge" data-original-title="{{entregas|length}} Entregas pendientes" style="font-size: 1.2em">{{entregas|length}}</span>
                        <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip"><i class="fa fa-minus"></i></button>
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    {% include 'AppBundle:Modulos:Movimientos.html.twig' with { 'movimientos' : entregas, 'tipo': 'entrega' } %}
                </div>
                <!-- /.box-body -->
            </div>
        </div>
        <div class="col-md-6">
            <div class="box box-marron box-solid">
                <div class="box-header">
                    <h3 class="box-title">Recogidas Pendientes</h3>
                    <div class="box-tools pull-right">
                        <span data-toggle="tooltip" title="" class="badge" data-original-title="{{recogidas|length}} Recogidas pendientes" style="font-size: 1.2em">{{recogidas|length}}</span>
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                        </button>
                    </div>

                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    {% include 'AppBundle:Modulos:Movimientos.html.twig' with { 'movimientos' : recogidas, 'tipo': 'recogida' } %}
                </div>
                <!-- /.box-body -->
            </div>
        </div>  

    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="box box-default box-solid">
                <div class="box-header">
                    <h3 class="box-title">Reservas Activas</h3>
                    <div class="box-tools pull-right">
                        <span data-toggle="tooltip" title="" class="badge" data-original-title="{{reservasactivas|length}} Recogidas pendientes" style="font-size: 1.2em">{{reservasactivas|length}}</span>
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                        </button>
                    </div>

                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    {% include 'AppBundle:Modulos:Reservas.html.twig' with { 'reservas' : reservasactivas } %}
                </div>
                <!-- /.box-body -->
            </div>
        </div>

        <div class="col-md-12">
            <div class="box box-verde box-solid">
                <div class="box-header">
                    <h3 class="box-title">Presupuestos</h3>
                    <div class="box-tools pull-right">
                        <span data-toggle="tooltip" title="" class="badge" data-original-title="{{presupuestos|length}} Presupuestos pendientes" style="font-size: 1.2em">{{presupuestos|length}}</span>
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                        </button>
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    {% include 'AppBundle:Modulos:Reservas.html.twig' with { 'reservas' : presupuestos } %}
                </div>
                <!-- /.box-body -->
            </div>
        </div>

        <div class="col-md-12">
            <div class="box box-marron box-solid">
                <div class="box-header">
                    <h3 class="box-title">Facturas pendientes</h3>
                    <div class="box-tools pull-right">
                        <span data-toggle="tooltip" title="" class="badge" data-original-title="{{facturas|length}} Presupuestos pendientes" style="font-size: 1.2em">{{facturas|length}}</span>
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                        </button>
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table id="tb_facturas" class="table table-condensed dataTable">
                        <thead>
                        <tr>
                            <th>Nº Factura</th>
                            <th>Fecha</th>
                            <th>Cliente</th>
                            <th>Id reserva</th>
                            <th>Total</th>
                            <th>Imp</th>
                        </tr>
                        </thead>
                        <tbody>
                    {% for factura in facturas %}
                        <tr>
                            <td>{{factura.fechaEmision.format('Y')}}{{"%03d"|format(factura.numero)}}</td>
                            <td data-order="{{factura.fechaEmision.format('U')}}">{{factura.fechaEmision.format('d-m-Y')}}</td>
                            <td>{{factura.receptor | default("")}}</td>
                            <td>
                                {% for reserva in factura.pedido %}
                                    <a href="{{ path("reserva_show",{"reserva":reserva.id}) }}">{{reserva.id}}</a>
                                    {% if loop.last == false %}
                                        &nbsp;|&nbsp;
                                    {% endif %}
                                {% endfor %}
                            </td>
                            <td data-order="{{factura.total}}">{{factura.total|number_format(2, '.', ',')}} €</td>
                            <td><a target="_blank" href="{{ path('factura_print', {'id': factura.id}) }}"><i class="fa fa-download"></i></a></td>
                        </tr>
                    {% endfor %}
                        </tbody>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
        </div>
                

    </div>
{#    <div class="row">
        <div class="col-md-12 hidden-xs hidden-md hidden-print">
            {{ render(controller('AppBundle:Default:alquileresChartModulo')) }}
        </div>
    </div>
#}</div>


{% endblock main %}

{% block javascripts %}
    {{parent()}}
{#    <script src="{{app.request.getBasePath()}}/assets/datatables/jquery.dataTables.min.js"></script>
    <script src="{{app.request.getBasePath()}}/assets/datatables/dataTables.bootstrap.min.js"></script>
#}    <script>
        $(function () {
            $('.dataTable').DataTable({
                "paging": false,
                "bPaginate": false,
                "lengthChange": false,
                "searching": false,
                "ordering": true,
                "order": [[1, 'asc']],
                "info": false,
                "autoWidth": false,

            });
        });
    </script>
{% endblock javascripts %}
