{% extends "@App/panel.html.twig" %}
{% block main %}
    <div class="row">
        <div class="col-md-4">
            <div class="box box-azul box-solid">{# collapsed-box #}
                <div class="box-header">
                    <h3 class="box-title">Reservas</h3>
                    {#<div class="box-tools pull-right">
                        <span data-toggle="tooltip" title="" class="badge" data-original-title="{{reservasentrega|length}} Entregas pendientes" style="font-size: 1.2em">{{reservasentrega|length}}</span>
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    </div>#}
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    {% include '@Admin/Estados/tabla.twig' with {'estados' : eReservas } %}
                </div>

                <div class="box-footer">
{#                    <a href="{{ path("admin_usuarios_add") }}">Agregar usuario</a>#}
                </div>

                <!-- /.box-body -->
            </div>
        </div>
                
        <div class="col-md-4">
            <div class="box box-azul box-solid">{# collapsed-box #}
                <div class="box-header">
                    <h3 class="box-title">Movimientos</h3>
                    {#<div class="box-tools pull-right">
                        <span data-toggle="tooltip" title="" class="badge" data-original-title="{{reservasentrega|length}} Entregas pendientes" style="font-size: 1.2em">{{reservasentrega|length}}</span>
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    </div>#}
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    {% include '@Admin/Estados/tabla.twig' with {'estados' : eMovimientos } %}
                </div>

                <div class="box-footer">
{#                    <a href="{{ path("admin_usuarios_add") }}">Agregar usuario</a>#}
                </div>

                <!-- /.box-body -->
            </div>
        </div>

        <div class="col-md-4">
            <div class="box box-azul box-solid">{# collapsed-box #}
                <div class="box-header">
                    <h3 class="box-title">Facturas</h3>
                    {#<div class="box-tools pull-right">
                        <span data-toggle="tooltip" title="" class="badge" data-original-title="{{reservasentrega|length}} Entregas pendientes" style="font-size: 1.2em">{{reservasentrega|length}}</span>
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    </div>#}
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    {% include '@Admin/Estados/tabla.twig' with { 'estados' : eFacturas } %}
                </div>

                <div class="box-footer">
{#                    <a href="{{ path("admin_usuarios_add") }}">Agregar usuario</a>#}
                </div>

                <!-- /.box-body -->
            </div>
        </div>

                
    </div>
{% endblock main %}