<table class="table  table-responsive">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Color</th>
        </tr>
    </thead>
    <tbody>
        {% for estado in estados %}
            <tr>
                <td>{{estado.nombre}}</td>
                <td>{{estado.color}}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>